  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <!-- <button class="btn btn-sm  btn-info" 
      (click)="back()"><b>Back</b></button> -->
      
    </ul>
   
  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      
      <!-- Notifications Dropdown Menu -->
  
      <li class="nav-item dropdown">
        <div ngbDropdown>
          <a class="nav-link" id="logOutDropDown" ngbDropdownToggle>
            <i class="far fa fa-gear"></i>
            
          </a>
          <div ngbDropdownMenu  class="dropdown-menu dropdown-menu-sm dropdown-menu-right" aria-labelledby="logOutDropDown">
           
            <a ngbDropdownItem class="dropdown-item" class="dropdown-item" [routerLink]="['']" (click)="onchangePassword()">
              <i class="fa fa-fw fa-key btn-warn" style="color:#3452eb;"></i> {{ 'Change Password' }}
              <!-- <span class="float-right text-muted text-sm">3 mins</span> -->
            </a>
            <a ngbDropdownItem class="dropdown-item" class="dropdown-item" [routerLink]="['']" (click)="onLoggedout()">
              <i class="fa fa-fw fa-power-off"  style="color:#fd0101ab;"></i> {{ 'Log Out' }}
              <!-- <span class="float-right text-muted text-sm">3 mins</span> -->
            </a>
          </div>
        </div>
      </li>
    </ul>
    
  </nav>
  <!-- /.navbar -->

 