<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert new Contract bill charge head</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-3">
                          <div class="row">
                            <div class="col-sm">
                                <label for="chgHead"> Charge Head:</label><br>
                                <input type="text" [(ngModel)]="contBill.chg_head" placeholder="Charge Head" name="chg_head" class="form-control" id="chg_head">    
                            </div>
                          </div>   
                        </div>

                        <div class="form-group col-md-3">
                          <div class="row">
                            <div class="col-sm">
                                <label for="chgHeadName"> Charge Head Name:</label><br>
                                <input type="text" [(ngModel)]="contBill.chg_head_name" placeholder="Charge Head Name" name="chg_head_name" class="form-control" id="chg_head_name">    
                            </div>
                          </div>   
                        </div>

                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                              <label for="category">Select Status:</label><br>
                              <p-dropdown  [style]="{'width': '285px'}" [options]="contBillStatus" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contBill.status" name="status"> </p-dropdown>    
                            </div>
                          </div>   
                        </div>

                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!contBill.head_id" (click)="createContBillChgHead()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contBill.head_id" (click)="updateContBillChgHead(contBill) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contBill.head_id" (click)="deleteContBillChgHead(contBill)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>

                </div>
            </div>
        </div>
        <app-contbillchgheadinfo></app-contbillchgheadinfo>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>

