<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p-table #conBrId [columns]="cols" [value]="contractbranches" [paginator]="true" [rows]="5" sortField="id" sortOrder="-1"  >
            <ng-template pTemplate="caption">
               Contract Branch Data
               <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="dt.reset()">
                <span class="fa fa-refresh" aria-hidden="true"></span> 
              </button>
            </ng-template>  
          <ng-template pTemplate="header" let-columns>
                <tr>
                    <th  *ngFor="let col of columns">
                        <div class=""> {{col.header}} <span class="p-input-icon-right">
                          <i class="pi pi-search"></i></span></div>
                        <div>
                        <input *ngIf="!(col.header === 'Vendor' )"   pInputText type="text" style="width: 100%;"
                            (input)="conBrId.filter($event.target.value, col.field, 'contains')" />
                            <input *ngIf="(col.header === 'Vendor' )"  pInputText type="text" style="width: 100%;"
                            (input)="conBrId.filter($event.target.value, col.field, 'contains')" />
                          </div>
                    </th>
                    <th >
                  </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contractbranch let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns"  >
                        <div >{{ contractbranch[col.field]}}</div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editContractBranch(contractbranch)">
                            <span class="fas fa-edit" aria-hidden="true"></span> 
                          </button>
                    </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
      </div>
  </div>
</div>