<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p-table #vendorId [columns]="cols" [value]="vendors" [paginator]="true" [rows]="5" sortField="entryDt" sortOrder="-1" >
                <ng-template pTemplate="caption">
                   Vendor Data
                   <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="reloadPage()">
                    <span class="fa fa-refresh" aria-hidden="true"></span> 
                  </button>
                </ng-template>  
              <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                            <input *ngIf="col.field === 'venName'" pInputText type="text" style="width: 100%;"
                            (input)="vendorId.filter($event.target.value, col.field, 'contains')" />
                            </span>
                            
                        </th>
                        <th>
                            Edit
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vendor let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns"  >
                            <div *ngIf="col.field === 'venTypeId'">{{  vendorType.get(vendor[col.field]) }}</div>
                            <div *ngIf="col.field === 'serviceTypeId'">{{  vendorServiceType.get(vendor[col.field]) }}</div>
                            <div *ngIf="!(col.field === 'serviceTypeId' || col.field === 'venTypeId')">{{ vendor[col.field] }}</div>
                        </td> 
                        
                        <td>
                            <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editVendor(vendor)">
                                <span class="fas fa-edit" aria-hidden="true"></span> 
                              </button>
                        </td>                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
      </div>
  </div>
</div>