<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
          <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Penalty Calculation Report</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Penalty Data </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <p-table [columns]="cols" [value]="mypenaltyCalcList" [paginator]="true" [rows]="5" >
                    <ng-template pTemplate="caption">
                       Penalty Data
                    </ng-template>  
                  <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns" >
                                <!-- {{rowData[col.field]}} -->
                                <div *ngIf="!(col.field === 'venId' || col.field === 'brCode' || col.field === 'contId')">{{ rowData[col.field] }}</div>
                                <div *ngIf="col.field === 'venId'">{{ vendorNameSet.get(rowData[col.field]) }}</div>
                                <div *ngIf="col.field === 'brCode'">{{ branches.get(rowData[col.field]) }}</div>
                                <div *ngIf="col.field === 'contId'">{{ contractNameSet.get(rowData[col.field]) }}</div>
                            </td>                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="columns.length">
                                No records found
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                  
                </div>
                <!-- /.card-body -->
                <form role="form"  #f="ngForm" name="myForm"  id="myForm" (ngSubmit)="f.reset()">
                  <div class="card-body">
                    <div class="form-group col-md-12">
                      <div class="row">
                        <div class="col-lg">
                          <label for="vendorId" class="col-sm-2 col-form-label">Vendor</label>
                          <!--<input type="text" class="form-control" id="contactId" placeholder="Contact ID" name="contactId" [(ngModel)]="penaltyCalcRep.contId">-->
                          <p-dropdown  [options]="selectedvendor"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="penaltyCalcRep.venId"  (onChange) = "getContractList(penaltyCalcRep.venId)"> </p-dropdown>
                         </div>
                         <div class="col-lg">
                          <label for="contractId" class="col-sm-4 col-form-label">Contract Number</label>
                          <p-dropdown [options]="selectedcontract"  [ngModelOptions]="{standalone: true}" [(ngModel)]="penaltyCalcRep.contId" (onChange) = "getBranchList(penaltyCalcRep.contId)"></p-dropdown>
                          <!-- <input type="text" class="form-control" id="vendorId" placeholder="Vendor ID" name="vendorId" [(ngModel)]="penaltyCalcRep.venId"> -->
                         </div>
                      </div>   
                    </div> 
                    <div class="form-group col-md-12">
                      <div class="row">
                        <div class="col-lg">
                          <label for="branchCode" class="col-sm-2 col-form-label">Branch</label>
                          <p-dropdown [options]="selectedcontractbranch" [ngModelOptions]="{standalone: true}"  [(ngModel)]="penaltyCalcRep.brCode"></p-dropdown>
                         </div>
                         <div class="col-lg">
                          <label for="month" class="col-sm-4 col-form-label">Month</label>
                          <p-dropdown [options]="twelvemonth"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="penaltyCalcRep.month"></p-dropdown>
                         </div>
                      </div>   
                    </div>                         
                  </div>
                  <!-- /.card-body -->
  
                   <div class="card-footer"> 
                      <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <input type="submit" value="Export"  class="btn btn-info" id="btnSubmit" (click)="export()"/>
                  </div>
                </form>
              </div>
              <!-- /.card -->

              
    
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
    
    </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>
  