// /* You can add global styles to this file, and also import other style files */


// @import url(assets/bower_components/bootstrap/dist/css/bootstrap.min.css);
// @import url(assets/bower_components/font-awesome/css/font-awesome.min.css);
// @import url(assets/bower_components/Ionicons/css/ionicons.min.css);
// @import url(assets/bower_components/jvectormap/jquery-jvectormap.css);
// @import url(assets/dist/css/AdminLTE.min.css);
// @import url(assets/dist/css/skins/_all-skins.min.css);
// @import "assets/plugins/iCheck/square/blue.css";

// /*Loadnig*/
// .boxLoading {
//   width: 50px;
//   height: 50px;
//   margin: auto;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   &:before {
//     content: '';
//     width: 50px;
//     height: 5px;
//     background: #000;
//     opacity: 0.1;
//     position: absolute;
//     top: 59px;
//     left: 0;
//     border-radius: 50%;
//     animation: shadow .5s linear infinite;
//   }
//   &:after {
//     content: '';
//     width: 50px;
//     height: 50px;
//     background: #1A6844;
//     animation: animate .5s linear infinite;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-radius: 3px;
//   }
// }

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
    
/* Transparent Overlay */
.loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.53);
}