<div class="row">
            <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <p-table [columns]="cols" [value]="poros" [paginator]="true" [rows]="5" >
                      <ng-template pTemplate="caption">
                         Poro Data
                      </ng-template>  
                    <ng-template pTemplate="header" let-columns>
                          <tr>
                              <th *ngFor="let col of columns">
                                  {{col.header}}
                              </th>
                              <th >
                                Edit
                            </th>

                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-poro let-columns="columns">
                          <tr>
                              <td *ngFor="let col of columns"  >
                                  {{ poro[col.field]}}
                              </td>
                              <td><button type="button" class="btn btn-info" (click)="editPoro(poro)">Edit</button></td>
                              
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns>
                          <tr>
                              <td [attr.colspan]="columns.length">
                                  No records found
                              </td>
                          </tr>
                      </ng-template>
                  </p-table>
                  </div>
                </div>
            </div>
      </div>