<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert new Contract yearwise rate</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      <div class="form-group col-md-6">
                        <div class="row">
                          <div class="col-sm">
                            <label for="part_full" class="required">Contract ID:</label><br>
                            <p-dropdown *ngIf="contRate.id" disabled  [style]="{'width': '200px'}" filter="true" [options]="selectedRate" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contRate.cont_id" name="contId"> </p-dropdown>    
                          <p-dropdown *ngIf="!contRate.id"  [style]="{'width': '200px'}" filter="true" [options]="selectedRate" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contRate.cont_id" name="contId"> </p-dropdown>    
                          </div>
                          <div class="col-sm">
                            <label for="part_full" class="required">Contract Type:</label><br>
                            <p-dropdown *ngIf="contRate.id" disabled  [style]="{'width': '200px'}" [options]="contractType" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contRate.contract_type" name="contTye"> </p-dropdown>   
                          <p-dropdown *ngIf="!contRate.id"  [style]="{'width': '200px'}" [options]="contractType" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contRate.contract_type" name="contTye"> </p-dropdown>    
                          </div>
                        </div>   
                      </div>
                      <div class="form-group col-md-6">
                        <div class="row">
                          <div class="col-sm">
                              <label for="startDate">Start Date:</label><br>
                              <input  *ngIf="contRate.id" disabled type="date" style="width:200px" class="form-control" id="startDate" placeholder="Start date" name="startDate" [(ngModel)]="contRate.start_date">    
                              <input  *ngIf="!contRate.id"  type="date" style="width:200px" class="form-control" id="startDate" placeholder="Start date" name="startDate" [(ngModel)]="contRate.start_date">    
                         
                            </div>
                          <div class="col-sm">
                            <label for="endDate">End Date:</label><br>
                            <input *ngIf="contRate.id" disabled  type="date" style="width:200px" class="form-control" id="endDate" placeholder="End date" name="endDate" [(ngModel)]="contRate.end_date">    
                            <input *ngIf="!contRate.id"  type="date" style="width:200px" class="form-control" id="endDate" placeholder="End date" name="endDate" [(ngModel)]="contRate.end_date">    
                       
                          </div>
                        </div>   
                      </div>
                        <div class="form-group col-sm-5">
                          <div class="row">
                            <div class="col-sm">
                                <label for="rate" > Rate:</label><br>
                                <input type="text"  maxlength="4" (keypress)="numberOnly($event)" [(ngModel)]="contRate.rate" placeholder="Rate" name="rate" class="form-control" id="rate">    
                            </div>
                          </div>   
                        </div>

                      


                         
                        


                     


                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info"  *ngIf="!contRate.id" (click)="createContRate()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contRate.id" (click)="updateContYearwiseRate(contRate)"><b>Update</b></button>&nbsp;
                            <!-- <button class="btn btn-sm btn-info" *ngIf="contRate.id" (click)="deleteContYearwiseRate(contRate)"><b>Delete</b></button>&nbsp; -->
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>
                </div>
            </div>
        </div>
       <app-contyearwiserateinfo></app-contyearwiserateinfo>
    </div>
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>