<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
          <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Service Report</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Service Report</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Service Data </h3>
                </div>
                <!-- /.card-header -->
    <!-- /.card-body -->
    <form role="form"  #f="ngForm" name="myForm"  id="myForm" (ngSubmit)="f.reset()">
        <div class="card-body">
          <div class="form-group col-md-6">
            <div class="row">
              <div class="col-lg">
                <label for="startDate" class="col-sm-4 col-form-label">Start Date</label><br/>
                <input max={{penaltyReport.endDate}} maxlength="4" pattern="[1-9][0-9]{3}" type="date" style="width:200px" class="form-control" id="startDate" placeholder="Start Date" name="startDate" [(ngModel)]="penaltyReport.startDate" >
               </div>
               <div class="col-lg">
                <label for="endDate" class="col-sm-4 col-form-label">End Date</label><br/>
                <input min={{penaltyReport.startDate}} max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" type="date" style="width:200px" class="form-control" id="endDate" placeholder="End Date" name="endDate" [(ngModel)]="penaltyReport.endDate" >
               </div>
            </div>   
          </div>                         
        </div>
        <!-- /.card-body -->

        <div class="card-footer">

          <button class="btn btn-sm  btn-info"
            (click)="export()"><b>Export</b></button> &nbsp;

          
          <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
        </div>
      </form>
    </div>
    <!-- /.card -->

    

  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
