<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p-table #fileId [columns]="cols" [value]="files" [paginator]="true" [rows]="5" sortField="fileId" sortOrder="-1"  >
              <ng-template pTemplate="caption">
                Uploaded File
                <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="reloadPage()">
                  <span class="fa fa-refresh" aria-hidden="true"></span> 
                </button>
              </ng-template>  
            <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                          {{col.header}}
                          <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                          <input  pInputText type="text" style="width: 100%;"
                          (input)="fileId.filter($event.target.value, col.field, 'contains')" />
                          </span>
                      </th>
  
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-fileUp let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns ; let i = index"  >
                        
                          <div *ngIf="i!=3 ">{{ fileUp[col.field] }}</div>
                         <div  *ngIf="i===3 " >
                          <button type="button" data-toggle="tooltip"  title= " {{ fileUp[col.field]  | slice:fileUp[col.field].lastIndexOf('@')+1 }}"  class="btn btn-info btn-sm"  (click)="download(fileUp)">
                            <!-- <span class="fas fa-edit" aria-hidden="true"></span>  -->
                            {{ fileUp[col.field]  | slice:fileUp[col.field].lastIndexOf("@")+1:fileUp[col.field].lastIndexOf("@")+18  }}
                        </button> &nbsp;
                      
                        <button type="button" (click)="delete(fileUp)" class="btn btn-info btn-sm" >
                          <span class="fas fa-times" aria-hidden="true"></span>
                        </button>
                          <!-- <button type="button" (click)="confirmPosition('bottomright')" pButton icon="pi pi-times" label="Delete"></button> -->
                        
                      </div>
                      </td>
                     
                      
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
          <p-confirmDialog [style]="{width: '50vw'}" ></p-confirmDialog>

        </div>
    </div>
  </div>