<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
          <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                <div class="card-header">
                      <h3 class="card-title">Role assigned to User</h3>
                </div>
                <form #f="ngForm" name="myForm">
                  <div class="card-body">
                    
                      <div class="form-group col-md-7">
                        <div class="row">
                          <div class="col-sm">
                              <label for="userId">Choose User</label><br>
                              <p-dropdown [options]="selecteduser" [(ngModel)]="roleWiseUser.u_id" [ngModelOptions]="{standalone: true}" name="userId" id = "userId"></p-dropdown>     
                          </div>
                        </div>   
                      </div>
                      <div class="form-group col-md-7">
                          <div class="row">
                            <div class="col-sm">
                              <label for="roleId">Choose Role</label><br>
                              <p-dropdown [options]="selectedrole" [(ngModel)]="roleWiseUser.r_id" [ngModelOptions]="{standalone: true}" name="roleId" id = "roleId"></p-dropdown>
                            </div>
                          </div>   
                      </div>
                  </div>
                  <div class="card-footer"> 
                      <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                      <tr>
                        <div style="float:left; padding: 10px;">
                          <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                          <button class="btn btn-sm  btn-info" *ngIf="!roleWiseUser.id" (click)="createRoleWiseUser()"><b>Create</b></button>&nbsp;
                          <button class="btn btn-sm btn-info" *ngIf="roleWiseUser.id" (click)="updateRoleWiseUser(roleWiseUser) "><b>Update</b></button>&nbsp;
                          <button class="btn btn-sm btn-info" *ngIf="roleWiseUser.id" (click)="deleteRoleWiseUser(roleWiseUser)"><b>Delete</b></button>&nbsp;
                           <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                        </div>
                        
                        
                      </tr>
                      
                  </div>
                </form>
              </div>
          </div>
      </div>
      <app-role-wise-user></app-role-wise-user>
  </div>
      
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
