<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert new Brand Inforamtion</h3>
                  </div>

                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-3">
                          <div class="row">
                            <div class="col-sm">
                                <label for="shortName"> Brand Name:</label><br>
                                <input type="text"  [(ngModel)]="brandInfo.brandName" placeholder="Brand Name" name="brandName" class="form-control" id="brandName">    
                            </div>
                          </div>   
                        </div>

                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                              <label for="category" class='required'>Item:</label><br>
                              <p-dropdown filter=true [style]="{'width': '285px'}" [options]="selectedItemId" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="brandInfo.itemId" name="selectedItemId"> </p-dropdown>    
                            </div>
                          </div>   
                        </div>

                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!brandInfo.brandId"  (click)="createBrand()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="brandInfo.brandId" (click)="updateBrand(brandInfo) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="brandInfo.brandId" (click)="deleteBrand(brandInfo)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>


                </div>
            </div>
        </div>
        <app-brand-info></app-brand-info>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>

