<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Create New Poro User</h3>
                      </div>
                      <form #f="ngForm" name="myForm">
                        <div class="card-body">
                          
                            <div class="form-group col-md-10">
                              <div class="row">
                                <div class="col-sm">
                                    <label for="poroPrefix">Poro Prefix</label>
                                    <input [(ngModel)]="poro.poroPrefix"  placeholder="Poro Prefix" name="poroPrefix" required maxlength="2" class="form-control" id="poroprefix" (focusout) = "focusoutHandlerPoroPrefix($event)">
                                 </div>
                                 <div class="col-sm">
                                    <label for="poroName">Poro Name</label>
                                    <input [(ngModel)]="poro.poroName"  placeholder="Poro Name" name="poroName" class="form-control" id="poroname" (focusout) = "focusoutHandlerPoroName($event)">
                                 </div>
                              </div>   
                            </div>

                            <div class="form-group col-md-10">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="poroType">Poro Type</label>
                                      <input [(ngModel)]="poro.poroType" type="poroName" placeholder="poroName" required maxlength="1"  name="porotype" class="form-control" id="porotype" (focusout) = "focusoutHandlerPoroType($event)">
                                   </div >
                                   <div class="col-sm">
                                      <label for="GMO ID:">GMO ID</label>
                                      <input [(ngModel)]="poro.gmoId" placeholder="GMO ID" required maxlength="2" name="gmoId" class="form-control" id="gmoid" (focusout) = "focusoutHandlerGmoId($event)">
                                   </div>
                                </div>   
                            </div>

                            <div class="form-group col-md-10">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="porocode">Poro Code</label>
                                      <input [(ngModel)]="poro.poroCode"  placeholder="Poro Code" [readonly]="isReadonly" name="porocode" class="form-control" id="porocode">
                                   </div>
                                   <div class="col-sm">
                                      <label for="Gmo Code">Gmo Code</label>
                                      <input [(ngModel)]="poro.gmoCode"  placeholder="Gmo Code" name="gmocode" class="form-control" id="gmocode">
                                   </div>
                                </div>   
                            </div>
                        </div>
                        <!-- /.card-body -->
        
                         <div class="card-footer"> 
                            <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                            <tr>
                              <div style="float:left; padding: 10px;">
                                <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                                <td><button type="button" class="btn btn-info" (click)="createPoro()">Create</button></td>
                             </div>
                              
                              <div style="float:left; padding: 10px;">
                                 <!--   <td><button type="button" class="btn btn-info" (click)="updatePoro(poro)">Edit</button></td>-->

                               <td><button class="btn btn-info" *ngIf="poro.poroCode" (click)="updatePoro(poro) ">Update</button></td> 
                             </div>
                             <div style="float:left; padding: 10px;">
                              <td><button class="btn btn-info"  *ngIf="poro.poroCode" (click)="deletePoro(poro)">Delete</button></td>
                            </div>
                            </tr>
                            
                        </div>
                      </form> 
                     
                    </div>
                </div>
            </div>
            <app-poro-list></app-poro-list>
        </div>
        
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>