<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
           
            <p-table #conId [columns]="cols" [value]="contractInfos" [paginator]="true" [rows]="3" sortField="contId" sortOrder="-1"  >
              <ng-template pTemplate="caption">
                Contract Info Data
                <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)=reloadPage()>
                  <span class="fa fa-refresh" aria-hidden="true"></span> 
                </button>
              </ng-template>  
            <ng-template pTemplate="header" let-columns>
                  <tr>

                    <th *ngFor="let col of columns">
                      {{col.header}}
                      <span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input  pInputText type="text" style="width: 100%;"
                            (input)="conId.filter($event.target.value, col.field, 'contains')" />
                    </span>


                      
                  </th>

                      <th >
                        Edit
                    </th>
  
                  </tr>
              </ng-template>
            
              <ng-template pTemplate="body" let-contractInfo let-columns="columns">
                
                  <tr>
                      <td *ngFor="let col of columns"  >
                          <div >{{ contractInfo[col.field] }}</div>
                      </td>
                      <td>
                          <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editContractInfo(contractInfo)">
                            <span class="fas fa-edit" aria-hidden="true"></span> 
                          </button> &nbsp;
                      
                          <button  *ngIf="(contractInfo.type=='pur' || contractInfo.type=='AMC') && contractInfo.status!='Closed' "  type="button" class="btn btn-danger btn-sm" aria-hidden="true" (click)="showModalDialog(contractInfo)">
                            Item
                          </button>
                        </td>
                        
                  </tr>
                  <p-dialog header="Item assign" [(visible)]="displayBasic2" [style]="{width: '60%'}">
                    <br>
                   
                          <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                            <div class="card-body">
                              <input [(ngModel)]="contSubItem.contSubItemId" hidden="true" class="form-control"
                                [ngModelOptions]="{standalone: true}">

                                  <div class="row">
                                    <div class="form-group col-md-12">
                                      <label for="contractId" class="required">Contract Number:</label>
                                     {{contractNo}}
                                    </div>
                                    
                                  </div>
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <label for="contractId" class="required">Model:</label><br />
                                      <p-dropdown  [style]="{'width': '285px'}" filter="true" [options]="selecteModelList" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="contSubItem.modelId" name="selecteModelList"> </p-dropdown>
            
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="itemId" class="required">Item:</label><br />
                                      <p-dropdown  [style]="{'width': '284px'}" filter="true" [options]="subItemList" [ngModelOptions]="{standalone: true}"
                                      [(ngModel)]="contSubItem.itemId" name="itemId"> </p-dropdown>
                                    </div>
                                   
                                  </div>
                                  <div class="row">
                                    <div class="form-group col-md-6">
                                      <label for="itemQuantity" class="required">Item Qantity:</label>
                                      <input type="text" [(ngModel)]="contSubItem.itemQuantity" placeholder="Item Qantity"
                                        name="itemQuantity" class="form-control" id="itemQuantity"
                                        maxlength="7" (keypress)="numberOnly($event)" >
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="totalValue" class="required">Total Value:</label>
                                      <input type="text" [(ngModel)]="contSubItem.totalValue" placeholder="Total Value"
                                        name="totalValue" class="form-control" id="totalValue"
                                        maxlength="13" (keypress)="numberOnly($event)" >
                                    </div>
                                  </div>
          
                            </div>
                            <!-- /.card-body -->
          
                            
                          </form>
                         
        

                    <p-footer>
                      <button type="button" pButton icon="pi pi-check" aria-hidden="true"
                        (click)="itemAssign(contractInfo)" label="Assign"></button>
                      <button type="button" pButton icon="pi pi-times" (click)="displayBasic2=false" label="No"
                        class="ui-button-secondary"></button>

                    </p-footer>
                  </p-dialog>
              </ng-template>
              
              <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                      <td></td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </div>
    </div>
  </div>