<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p-table #itemTypeId [columns]="cols" [value]="itemTypes" [paginator]="true" [rows]="5" sortField="typeId" sortOrder="-1"  >
              <ng-template pTemplate="caption">
                Site List
                <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="dt.reset()">
                  <span class="fa fa-refresh" aria-hidden="true"></span> 
                </button>
              </ng-template>  
            <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                        <span class="p-input-icon-right">
                          <i class="pi pi-search"></i>
                       <input  pInputText type="text" style="width: 100%;"
                          (input)="itemTypeId.filter($event.target.value, col.field, 'contains')" />
                      </span>
                         
                      </th>
                      <th >
                        Edit
                    </th>
  
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-itemType let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns"  >
                          <div *ngIf="itemType[col.field]=='O'">Others</div>
                          <div *ngIf="itemType[col.field]=='B'">Building</div>
                          <div *ngIf="itemType[col.field]=='L'">Land</div>
                          <div *ngIf="itemType[col.field]=='C'">Building Construction</div>
                          <div *ngIf="!(itemType[col.field]=='O' || itemType[col.field]=='B'|| itemType[col.field]=='L'
                          || itemType[col.field]=='C')">{{itemType[col.field]}}</div>
                          
                      </td>
                      <td>
                        <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editItemType(itemType)">
                            <span class="fas fa-edit" aria-hidden="true"></span> 
                        </button>
                      </td>
                      
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                      <td></td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </div>
    </div>
  </div>