<footer class="main-footer">
  <strong>Copyright &copy; 2019-2020 <a href="https://www.sonalibank.com.bd/">Sonali Bank Limited</a>.</strong>
  
  <div class="float-right d-none d-sm-inline-block">
    <b> Developed By: Business IT, ITD, Sonali Bank Ltd.</b>
  </div>
  
</footer>

