<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                   Budget Bill Entry
                </div>

                <div class="card-body">

                  <div class="section_bar">
                    Bill Related Information
                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-sm">
                        <label for="invoice_no" class="required">Invioce No</label><br>
                        <input type="text" [(ngModel)]="budgetBillEntry.invoice_no" placeholder="Invioce Number"
                          name="invoice_no" class="form-control" id="invoice_no">
                      </div>

                      <div class="col-sm">
                        <label for="invoice_date" class="required">Invoice Date</label><br>
                        <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                         -->
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.invoice_dt" type="date" placeholder="Invioce Date"
                          name="invoice_date" class="form-control" id="invoice_date">
                      </div>

                      

                      <div class="col-sm">
                        <label for="contract" class="required">Contract</label><br>

                        <p-dropdown id="cont_id" [style]="{'width': '285px'}" [options]="selectedContract" filter="true"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillEntry.cont_id"
                          (onChange)="setContractData(budgetBillEntry.cont_id)" name="contract"> </p-dropdown>


                      </div>


                      <div class="col-sm">
                        <label for="contract" class="required">Bill Amount</label><br>
                        <input type="text" [(ngModel)]="budgetBillEntry.bill_amount" placeholder="Bill Amount"
                          name="bill_amount" (ngModelChange)="setBillAmountWords(this.budgetBillEntry.bill_amount)"
                          class="form-control" id="bill_amount">
                      </div>
                    </div>

                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-sm">
                        <label for="invoice_no">In Word</label><br>
                        <textarea [readonly]="true" [(ngModel)]="budgetBillEntry.bill_amount_in_words"
                          placeholder="Bill Amount In Words" name="bill_amount_in_words" class="form-control"
                          id="bill_amount_in_words"></textarea>
                      </div>

                      <div class="col-sm">
                        <label for="vat_product" class="required">Vat Products</label><br>

                        <p-dropdown [style]="{'width': '285px'}" filter=true [options]="selectedVatList"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillEntry.vat_product"
                          name="vat_product" id="vat_product"></p-dropdown>
                      </div>

                      <div class="col-sm">
                        <label for="ait_product" class="required">AIT Products</label><br>

                        <p-dropdown [style]="{'width': '285px'}" filter=true [options]="selectedAitList"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillEntry.ait_product"
                          name="ait_product" id="ait_product"></p-dropdown>
                      </div>

                      <div class="col-sm">
                        <label for="product_description">Product Description</label><br>
                        <textarea [(ngModel)]="budgetBillEntry.product_description" placeholder="Product Description"
                          name="billNumber" class="form-control" id="product_description"></textarea>
                      </div>

                    </div>
                  </div>


                  <div class="form-group col-md-12">
                    <div class="row">
                      

                      <div class="col-sm">
                        <label for="work_order_no">Work Order No</label><br>
                        <input type="text" [(ngModel)]="budgetBillEntry.work_order_no" placeholder="Work Order No"
                          name="work_order_no" class="form-control" id="Work Order No">
                      </div>

                      <div class="col-sm">
                        <label for="invoice_date">Vendor</label><br>

                        <p-dropdown [style]="{'width': '285px'}" filter=true [options]="selectedvendor"
                          [readonly]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillEntry.ven_id"
                          name="ven_id" id="ven_id"></p-dropdown>
                      </div>

                      <div class="col-sm">
                        <label for="agreement_sign_dt">Agreement Signing Date</label><br>
                        <input max="9999-12-31" maxlength="4" [readonly]="true" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.agreement_sign_dt" type="date"
                          placeholder="Agreement Signing Date" name="agreement_sign_dt" class="form-control"
                          id="agreement_sign_dt">
                      </div>

                      <div class="col-sm">
                        <label for="contract" class="required">Warranty (In Months)</label><br>
                        <input type="text" [(ngModel)]="budgetBillEntry.warranty" [readonly]="true"
                          placeholder="Warranty" name="warranty" class="form-control" id="warranty">
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-sm">
                        <label for="invoice_date">Warranty Valid Upto</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" [readonly]="true"
                          [(ngModel)]="budgetBillEntry.warranty_valid_upto" type="date" name="warranty"
                          class="form-control" id="warranty">
                      </div>

                      <div class="col-sm">
                        <label for="Delivery_date" class="required">Delivery Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.delivery_dt" type="date"
                          (change)="setDeliverytTenorInWords(budgetBillEntry.delivery_dt)" name="Delivery_date"
                          class="form-control" id="delivary_date">
                      </div>
                      <div class="col-sm">
                        <label for="delivary_complete_in">Delivery Completed In</label><br>
                        <input type="text" [readonly]="true" class="form-control"
                          [(ngModel)]="budgetBillEntry.delivary_time_left" id="delivary_complete_in">
                      </div>
                    </div>


                  </div>

                  <div class="form-group col-md-10">
                    <div class="row">

                    </div>


                  </div>

                  <div class="section_bar">
                    Current Status/Audit & BDC
                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-sm">
                        <label for="agreement_sign_dt">Bill Receive Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.bill_recieve_dt" type="date" placeholder="Bill Receive Date"
                          name="bill_recieve_dt" class="form-control" id="bill_recieve_dt">
                      </div>

                      <div class="col-sm">
                        <label for="invoice_date">Com/Perform Report Date</label><br>
                        <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                         -->
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" [readonly]="true"
                          [(ngModel)]="budgetBillEntry.performReportDt" type="date" name="performReportDt"
                          class="form-control" id="performReportDt">
                      </div>

                      <div class="col-sm">
                        <label for="contract">Ispection Report/Certificate Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" [readonly]="true"
                          [(ngModel)]="budgetBillEntry.inspectReportDt" type="date" name="inspectReportDt"
                          class="form-control" id="inspectReportDt">
                      </div>

                      <div class="col-sm">
                        <label for="bill_to_audit_dt">Bill Send To Audit Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.bill_to_audit_dt" type="date" placeholder="Bill Receive Date"
                          name="bill_to_audit_dt" class="form-control" id="bill_to_audit_dt">
                      </div>

                    </div>


                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">


                      <div class="col-sm">
                        <label for="audit_report_receive_dt">Audit Report Receive Date</label><br>
                        <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                         -->
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.audit_report_receive_dt" type="date"
                          name="audit_report_receive_dt" class="form-control" id="audit_report_receive_dt">
                      </div>

                      <div class="col-sm">
                        <label for="send_to_bdc_dt">Send To BDC Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.send_to_bdc_dt" type="date" name="send_to_bdc_dt"
                          class="form-control" id="send_to_bdc_dt">
                      </div>

                      <div class="col-sm">
                        <label for="from_bdc_dt">From BDC Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.from_bdc_dt" type="date" name="from_bdc_dt" class="form-control"
                          id="from_bdc_dt">
                      </div>

                      <div class="col-sm">
                        <label for="payment_note_dt">Payment Note Date</label><br>
                        <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                         -->
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.payment_note_dt" type="date" name="payment_note_dt"
                          class="form-control" id="payment_note_dt">
                      </div>

                    </div>


                  </div>

                  <div class="form-group col-md-3">
                    <div class="row">


                      <div class="col-sm">
                        <label for="note_approve_dt">Note Approved Date</label><br>
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetBillEntry.note_approve_dt" type="date" name="note_approve_dt"
                          class="form-control" id="note_approve_dt">
                      </div>

                    </div>


                  </div>
                </div>
                <div class="card-footer">
                  <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                  <tr>
                    <div style="float:left; padding: 10px;">
                      <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                      <button *ngIf="!this.budgetBillEntry.isEdit" class="btn btn-sm  btn-info"
                        (click)="saveBudgetBillEntry(this.budgetBillEntry)"><b>Create</b></button>&nbsp;
                      <button *ngIf="this.budgetBillEntry.isEdit" class="btn btn-sm btn-info"
                        (click)="updateBudgetBillInfo(this.budgetBillEntry)"><b>Update</b></button>&nbsp;
                      <button *ngIf="this.budgetBillEntry.isEdit" class="btn btn-sm btn-info"
                        (click)="deleteBudgetBillInfo(this.budgetBillEntry)"><b>Delete</b></button>&nbsp;
                      <button class="btn btn-sm btn-info" (click)="reloadPage()"><b>Reset</b></button>
                    </div>
                  </tr>

                </div>
              </div>
            </div>

            <app-budgetbillentryinfo></app-budgetbillentryinfo>
          </div>
        </div>
      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>