<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p-table #menuId [columns]="cols" [value]="menuInfos" sortField="m_id" sortOrder="-1" [paginator]="true" [rows]="3"  >
              <ng-template pTemplate="caption">
                Menu Info Data
                <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="dt.reset()">
                  <span class="fa fa-refresh" aria-hidden="true"></span> 
                </button>
              </ng-template>  
            <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                        <input  *ngIf="col.field === 'menuName'" pInputText type="text"
                        (input)="menuId.filter($event.target.value, col.field, 'contains')" />
                      </th>
                      <th >
                        Edit
                    </th>
  
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-menuInfo let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns"  >
                        <div *ngIf="col.field === 'parentMenuId'">{{  parentMenuPath.get(menuInfo[col.field]) }}</div>
                          <div  *ngIf="!(col.field === 'parentMenuId')" >{{ menuInfo[col.field] }}</div>
                          
                      </td>
                      <td>
                        <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editMenu(menuInfo)">
                            <span class="fas fa-edit" aria-hidden="true"></span> 
                        </button>
                       </td>    
                      
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                      <td></td>
                  </tr>
              </ng-template>
          </p-table>
          </div>
        </div>
    </div>
  </div>