<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Contract Sub Item</h3>
                </div>
                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <input [(ngModel)]="contSubItem.contSubItemId" hidden="true" class="form-control"
                      [ngModelOptions]="{standalone: true}">
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="contractId" class="required">Contract Number:</label><br />
                          <p-dropdown  [style]="{'width': '580px'}" filter="true" [options]="selecteContractList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contSubItem.contId" name="selecteContractList"> </p-dropdown>

                        </div>
                        
                      </div>
                    </div>
                   <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="contractId" class="required">Model:</label><br />
                          <p-dropdown  [style]="{'width': '285px'}" filter="true" [options]="selecteModelList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contSubItem.modelId" name="selecteModelList"> </p-dropdown>

                        </div>
                        <div class="col-sm">
                          <label for="itemId" class="required">Item:</label><br />
                          <p-dropdown  [style]="{'width': '284px'}" filter="true" [options]="subItemList" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contSubItem.itemId" name="itemId"> </p-dropdown>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="itemQuantity" class="required">Item Qantity:</label>
                          <input type="text" [(ngModel)]="contSubItem.itemQuantity" placeholder="Item Qantity"
                            name="itemQuantity" class="form-control" id="itemQuantity"
                            maxlength="7" (keypress)="numberOnly($event)" >
                        </div>
                        <div class="col-sm">
                          <label for="totalValue" class="required">Total Value:</label>
                          <input type="text" [(ngModel)]="contSubItem.totalValue" placeholder="Total Value"
                            name="totalValue" class="form-control" id="totalValue"
                            maxlength="13" (keypress)="numberOnly($event)" >
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info" *ngIf="!contSubItem.contSubItemId"
                      (click)="create()"><b>Create</b></button>

                    <button class="btn btn-sm btn-info" *ngIf="contSubItem.contSubItemId"
                      (click)="update(contSubItem)"><b>Update</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" *ngIf="contSubItem.contSubItemId"
                      (click)="delete(contSubItem)"><b>Delete</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                  </div>
                </form>
                <div id="uploadSpinner" style="display: none;" class="loading-indicator">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                    animationDuration=".5s"></p-progressSpinner>
                </div>

              </div>
            </div>
          </div>
          <app-cont-subitem></app-cont-subitem>
        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>