<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Bill transactional information</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                      <div class="form-group col-md-12">
                        <div class="row">
                          <div class="col-sm">
                          <label for="bill_period_start" class="required">Bill Period Start</label><br>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="contTran.bill_period_start" type="date" placeholder="Bill Period Start" name="bill_period_start"
                          class="form-control" id="bill_period_start">
                         </div>
                         <div class="col-sm">
                          <label for="bill_period_end" class="required">Bill Period End</label><br>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="contTran.bill_period_end" type="date" placeholder="Bill Period End" name="bill_period_end"
                          class="form-control" id="bill_period_end">
                         </div>

                             
                        </div>
                      </div>
                      <div class="form-group col-md-12">
                        <div class="row">
                          <div class="col-sm">
                          <label for="venId" class="required">Vendor</label><br>
                         <p-dropdown [style]="{'width': '285px'}"   filter=true  [options]="selectedvendor"  [ngModelOptions]="{standalone: true}" [(ngModel)]="venID"  name = "venID" id = "venID" (onChange) = "getCon(venID)" ></p-dropdown>
                        
                         </div>
                          <div class="col-sm">
                            <label for="contract">Contract</label><br>
                            <p-dropdown [style]="{'width': '280px'}" [options]="selectedCon" filter="true" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="cont_id" name="contract" (onChange) = "getEntryBycon(cont_id)"> </p-dropdown>    
                          </div>

                             
                        </div>
                      </div>
                      <div class="form-group col-md-12">
                        <div class="row">
                          <div class="col-sm">
                            <label for="billEntry">Bill Entry</label><br>
                            <!-- <span style="color:#138496; font-weight:bold" *ngIf="contTran.bill_tran_id">{{contTran.entry_id}}</span> -->
                                <p-dropdown *ngIf="!contTran.bill_tran_id"  [style]="{'width': '280px'}" [options]="selecteEntry" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="contTran.entry_id" name="billEntry"  (onChange) = "getAnotherFourVlues(contTran.entry_id)"> </p-dropdown>  
                          </div>
                          <div class="col-sm">
                            <label for="chgHead"> Charge Head:</label><br>
                            <p-dropdown  [style]="{'width': '285px'}" [options]="selecteBillChargeHeadList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contTran.chg_head" name="chargeHead"> </p-dropdown>  
                          </div>
                          </div>
                      </div>
                      
                      <div *ngIf="contTran.entry_id" class="callout callout-info form-group col-md-12">
                        <div class="row">
                          <div class="col-sm">
                            <label for="contId">Bill NO.:</label>
                            {{contTran.bill_no}}
                             </div>
                            </div>
                            <div class="row">
                          <div class="col-sm">
                            <label for="contId">Contract ID:</label>
                            {{contractNameSet.get(contTran.cont_id)}}
                             </div>
                            </div>
                            <div class="row">
                          <div class="col-sm">
                            <label for="partialFull"> Bill Partial/Full:</label>
                            {{contTran.bill_part_full=="PART"?"Partial":"Full"}} </div>
                        </div>   
                       
                            <div class="row">
                          <div class="col-sm">
                            <label for="billDate">Bill Date:</label>
                            {{contTran.bill_date}}
                            </div>
                          </div>
                          <div class="row">
                             <div class="col-sm">
                              <label for="billPeriod">Bill Period</label>
                             
                            {{contTran.bill_period_start}} to  {{contTran.bill_period_end}}
                          </div>
                        </div>  
                        <div class="row">
                          <div class="col-sm">
                            <label for="currentBill">Current Bill:</label>
                            {{contTran.current_bill}}
                          </div>
                          </div> 
                          <div class="row">
                            <div class="col-sm">
                              <label for="itemId">Items</label>
                              <ul  *ngIf="((contractTypeSet.get(contTran.cont_id)==='pur')||(contractTypeSet.get(contTran.cont_id)==='AMC'))">
                                 <li *ngFor="let item of selecteItemIdList">
                                   {{ item }}
                                 </li>
                               </ul>
                               <ul  *ngIf="((contractTypeSet.get(contTran.cont_id)==='conn')||(contractTypeSet.get(contTran.cont_id)==='SLA'))">
                                <li >
                                  Connectivity
                                 
                                </li>
                              </ul>
                               </div>
                              </div>
                              
                      </div>
                      
                      <div class="form-group col-md-12">
                        <div class="row">
                          <div class="col-sm">
                            <label for="penalty">Penalty:</label>
                            <input type="number" [(ngModel)]="contTran.penalty" placeholder="Penalty" name="penalty" class="form-control" id="penalty">       
                          </div>
                         
                    

                          <div class="col-sm">
                            <label for="contactNumber">Contact No.:</label><br>
                            <input type="text" [(ngModel)]="contTran.contract_no" placeholder="Contact Number" name="contactNumber" class="form-control" id="contactNumber"> 

                          </div>
                        </div>
                      </div>

                      <div class="form-group col-md-12">
                        <div class="row">
                          <div class="col-sm">
                            <label for="referenceNo">Reference No.:</label><br>
                            <input type="text" [(ngModel)]="contTran.reference_no" placeholder="Reference Number" name="referenceNo" class="form-control" id="referenceNo">                                   
                          </div>   
                           <div class="col-sm">
                              <label for="narration">Narration:</label><br>
                              <textarea type="text" [(ngModel)]="contTran.narration" placeholder="Narration" name="narration" class="form-control" id="narration">   </textarea>                              
                       
                            </div>
                        </div> 
                        </div>
                        <div class="form-group col-md-12">
                          <div class="row">
                            <div class="col-sm">
                              <label for="refereneDate">Reference Date:</label><br>
                              <input type="date" [(ngModel)]="contTran.reference_date" placeholder="Reference Date" name="referenceDate" class="form-control" id="referenceDate"> 

                            </div>
                            <div class="col-sm">
                              <label for="nextBillDate">Next bill date:</label><br>
                              <input type="date" [(ngModel)]="contTran.next_bill_date" placeholder="Next bill date" name="nextBillDate" class="form-control" id="nextBillDate"> 

                            </div> 
                           
                          </div>
                        </div>
                  </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!contTran.bill_tran_id" (click)="createContBillTran()"><b>Initiate</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contTran.bill_tran_id" (click)="updateContBillTran(contTran) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contTran.bill_tran_id" (click)="deleteContBillTran(contTran)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>


                </div>
            </div>
        </div>
       <app-contbilltran-info></app-contbilltran-info>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>

