<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                     Budget Payment Information
                  </div>
  
                  <div class="card-body">
                    <div class="form-group col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <label for="venId" class="required">Vendor</label><br>
                          <p-dropdown filter=true  [style]="{'width': '300px'}" [options]="selectedvendor"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="venId" (onChange)="getContractListInfo(venId)"
                            name="venId" id="venId"></p-dropdown>

                        </div>
                        <div class="col-md-4">
                            <label for="contract" class="required">Contract</label><br>

                            <p-dropdown id="cont_id" [style]="{'width': '300px'}" [options]="selecteContractList" filter="true"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillEntry.cont_id" (onChange)="getInvoiceListInfo(budgetBillEntry.cont_id)"
                            name="contract"> </p-dropdown>


                        </div>
                        
                        <div class="col-md-4">
                         
                          <label for="invoice_no" class="required">Invoice</label><br>
                      
                         <p-dropdown id="invoice" [style]="{'width': '300px'}" [options]="selectedInvoice" filter="true"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillEntry.invoice_no" (onChange)="setBudgetEntry(budgetBillEntry.invoice_no)"
                          placeholder="{{budgetBillEntry.invoice_no}}"
                          name="invoice"> </p-dropdown>

                        </div>
                        
                      </div>
                      <div class="row">
                        
                        <div class="col-md-4">
                          <label for="bill_amt">Bill Amount</label><br>
                          <input type="text" [readonly]="true" [(ngModel)]="budgetBillEntry.bill_amount"
                            placeholder="Bill Amount" name="bill_amt" class="form-control"
                            id="bill_amt"/>
                        </div>
                        <div class="col-md-4">
                          <label for="ait_product">AIT rate</label><br>
                          <input type="text" [readonly]="true" [(ngModel)]="budgetBillEntry.ait_product"
                            placeholder="AIT rate" name="ait_product" class="form-control"
                            id="ait_product"/>
                        </div>
                        
                        <div class="col-md-4">
                          <label for="vat_product">Vat rate</label><br>
                          <input type="text" [readonly]="true" [(ngModel)]="budgetBillEntry.vat_product"
                            placeholder="Vat rate" name="vat_product" class="form-control"
                            id="vat_product"/>
                        </div>
                      
                      </div>

                        <div class="row">
                          <div class="col-md-4">
                            <label for="incexc">Vat Inclusion/Exclusion</label><br>
                            <p-radioButton name="incexc" value=1 label="Inclusion" [(ngModel)]="incexc"></p-radioButton>
                             &nbsp;
                            <p-radioButton name="incexc" value=0 label="Exclusion" [(ngModel)]="incexc"></p-radioButton>
                            
                           
                          </div>
                          <div class="col-md-4">
                            <label for="payment_dt" class="required">Payment Date</label><br>
                          <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                           -->
                            <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                              [(ngModel)]="budgetBillPayment.payment_dt" type="date" placeholder="Payment Date"
                              name="payment_dt" class="form-control" id="payment_dt">
                          </div>

                          <div class="col-md-3">
                            <label for="fiscal_year" class="control-label" class="required"
                            name="fiscal_year"> Year</label><br />
                          <p-dropdown [style]="{'width': '300px'}" [options]="fiscal_year"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillPayment.fiscal_year" name="fiscal_year"
                            id="fiscal_year"></p-dropdown>

                          </div>
                        <div class="row">
                          <div class="col-md-3">
                            <label for="incexc">With/Without Vat</label><br>
                            <p-radioButton name="in_vat" value=1 label="With Vat" [(ngModel)]="budgetBillPayment.in_with_vat"></p-radioButton>
                             &nbsp;
                            <p-radioButton name="in_vat" value=0 label="Without Vat" [(ngModel)]="budgetBillPayment.in_with_vat"></p-radioButton>
                            
                           
                          </div>
                          <div class="col-md-3">
                            <label for="incexc">With/Without Tds</label><br>
                            <p-radioButton name="in_ait" value=1 label="With TDS" [(ngModel)]="budgetBillPayment.in_with_tax"></p-radioButton>
                             &nbsp;
                            <p-radioButton name="in_ait" value=0 label="Without TDS" [(ngModel)]="budgetBillPayment.in_with_tax"></p-radioButton>
                            
                           
                          </div>

                          <div class="col-md-4">
                            <label for="penalty_amt">Penalty</label><br>
                            <input type="text"  [(ngModel)]="budgetBillPayment.penalty_amt"
                              placeholder="Penalty Amount" name="penalty_amt" class="form-control"
                              id="penalty_amt"/>
                          </div>
                          <div class="col-md-2">
                          <label for="cal">   </label><br>
                          <button  class="btn btn-lg  btn-danger" (click)="this.getBillPayment(this.budgetBillEntry,this.budgetBillPayment)"><b>Calculate</b></button>
                        </div>
                        <div class="col-md-7"></div>
                      </div>
                      
                        </div>
                          
                      <div class="section_bar">
                        Pay Order Amount
                      </div>
                        <div class="row">
                          <div class="col-md-3">
                            <label for="pay_order_amt">Pay Order Amount</label><br>
                            <input type="text"  [readonly]="true" [(ngModel)]="budgetBillPayment.pay_order_amt"
                              placeholder="Pay Order Amount" name="pay_order_amt" class="form-control"
                              id="pay_order_amt" />
                              </div>
                              <div class="col-md-8">
                                <label for="pay_order_amt_words">Pay Order Amount(In words)</label><br>
                              <textarea [readonly]="true" [(ngModel)]="budgetBillPayment.pay_order_amount_in_words"
                          placeholder="Pay Order Amount In Words" name="pay_order_amount_in_words" class="form-control"
                          id="pay_order_amount_in_words"></textarea>
                          </div>
                        </div>

                        <div class="form-group col-md-10">
                          <div class="row">
      
                          </div>
      
      
                        </div>
                        <div class="section_bar">
                          Pay Order Information
                        </div>

                        <div class="row">

                          <div class="col-md-3">
                            <label for="pay_order_no">Pay order No</label><br>
                            <input type="text" [(ngModel)]="budgetBillPayment.pay_order_no"
                              placeholder="Pay Order No" name="pay_order_no" class="form-control"
                              id="pay_order_no"/>
                          </div>

                          <div class="col-md-3">
                            <label for="vat_chalan_no">Vat Chalan No</label><br>
                            <input type="text" [(ngModel)]="budgetBillPayment.vat_chalan_no"
                              placeholder="Vat Chalan No" name="vat_chalan_no" class="form-control"
                              id="vat_chalan_no"/>
                          </div>

                          <div class="col-md-3">
                            <label for="vat_chalan_dt" class="required">Vat Chalan Date</label><br>
                          <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                           -->
                            <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                              [(ngModel)]="budgetBillPayment.vat_chalan_dt" type="date" placeholder="Vat Chalan Date"
                              name="vat_chalan_dt" class="form-control" id="vat_chalan_dt">
                          </div>

                          <div class="col-md-3">
                            <label for="ait_chalan_no">AIT Chalan No</label><br>
                            <input type="text" [(ngModel)]="budgetBillPayment.ait_chalan_no"
                              placeholder="AIT Chalan No" name="ait_chalan_no" class="form-control"
                              id="ait_chalan_no"/>
                          </div>
                            <div class="col-md-3">
                              <label for="ait_chalan_dt" class="required">AIT Chalan Date</label><br>
                            <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                             -->
                              <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                                [(ngModel)]="budgetBillPayment.ait_chalan_dt" type="date" placeholder="AIT Chalan Date"
                                name="ait_chalan_dt" class="form-control" id="ait_chalan_dt">
                            </div>

                            <div class="col-md-3">
                              <label for="form_no">Form 6.3 No</label><br>
                              <input type="text" [(ngModel)]="budgetBillPayment.form_no"
                                placeholder="Form 6.3 No" name="form_no" class="form-control"
                                id="form_no"/>
                            </div>
                            <div class="col-md-3">
                              <label for="form_dt" class="required">Form 6.3 Date</label><br>
                            <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                             -->
                              <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                                [(ngModel)]="budgetBillPayment.form_dt" type="date" placeholder="Form 6.3 Date"
                                name="form_dt" class="form-control" id="form_dt">
                            </div>
                           
                            
                        <div class="col-md-3">
                          <label for="venId" class="required">Sector</label><br>
                          <p-dropdown filter=true  [style]="{'width': 'auto'}" [options]="sectorList"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetBillPayment.sector_id" 
                            name="sectorId" id="sectorId"></p-dropdown>

                        </div>
                            
                          </div>
  
                  </div>
                  </div>
                  <div class="card-footer">
                    <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                    <button *ngIf="this.budgetBillPayment.pay_order_amt" class="btn btn-sm  btn-info"
                        (click)="saveBudgetBillPayment(this.budgetBillPayment)"><b>Save</b></button>&nbsp;
                        <button class="btn btn-sm btn-info" (click)="reloadPage()"><b>Reset</b></button>
  
                  </div>
                </div>
              </div>
  
              
            </div>
          </div>
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>