<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/dashboard" class="brand-link">
    <img src="assets/images/logo.png" alt="Sonali Bank Logo" class="brand-image" style="opacity: .8">
    <span class="brand-text font-weight-light">SPMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/images/user.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.userName}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2" >
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
       <span *ngFor="let menu of menus" > 
        
        <li  class="nav-item has-treeview" [routerLinkActive]="['menu-open', 'active']">
          <a *ngIf="menu.children" href="" onclick="return false;" class="nav-link">
            <i  class="{{menu.icon }} mainsidebar"></i>&nbsp;
            <p class="mainsidebar">
              {{ menu.menuName }}
              <i *ngIf="menu.children" class="right fas fa-angle-left"></i>
            </p> 
          </a>

          <a   *ngIf="!menu.children" [routerLink]="'../'+menu.url" class="nav-link">
            <i  class="{{menu.icon }} mainsidebar"></i>&nbsp;
            <p class="mainsidebar">
              {{ menu.menuName }} 
              <i *ngIf="menu.children" class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul *ngFor="let submenu of menu.children" class="nav nav-treeview"  >
            <li  class="nav-item has-treeview"  [routerLinkActive]="['menu-open']" >
              <a *ngIf="submenu.children" href="" onclick="return false;" class="nav-link">
                <i  class=" {{submenu.icon }}"></i>
                <p>
                  {{ submenu.menuName }}
                  <i *ngIf="submenu.children"  class="right fas fa-angle-left"></i>
                </p>
              </a>

              <a  *ngIf="!submenu.children" [routerLink]="'../'+submenu.url"  class="nav-link  ">
                <i  class=" {{submenu.icon }}"></i>
                <p>
                  {{ submenu.menuName }}
                  <i *ngIf="submenu.children"  class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" *ngFor="let submenuchild of submenu.children">
                <li class="nav-item" >
                  <a  [routerLink]="'../'+submenuchild.url"  class="nav-link" [routerLinkActive]="['active']"  >
                    <i   class=" {{submenuchild.icon }}"></i>
                   <p>{{ submenuchild.menuName }} </p>
                  </a>
                </li>
              </ul>
              </li>
            </ul>
          </li>
        </span>
      </ul>
      <!-- <p-panelMenu [model]="menus" ></p-panelMenu> -->
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

</aside>