<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Contract Branch</h3>
                </div>
                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <input [(ngModel)]="contractBranch.id" hidden="true" class="form-control"
                      [ngModelOptions]="{standalone: true}">
                    <div class="form-group col-md-5">
                      <div class="row">
                        <div class="col-sm">
                          <label for="maxDowntime"><input name="options" [(ngModel)]="options" type="radio"
                              [value]="true" [checked]="options" />File upload </label>
                          &nbsp;
                          <label for="maxDowntime"><input name="options" [(ngModel)]="options" type="radio"
                              [value]="false" [checked]="options" />Data entry </label>
                        </div>
                      </div>
                    </div>


                    <div *ngIf="options" disabled class="form-group col-md-6">
                      <label for="exampleInputFile">File input</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" name="files" class="custom-file-input" id="exampleInputFile"
                            accept=".xls,.xlsx" (change)="selectFile($event)">
                          <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose file</label>

                        </div>
                        <!-- <input type="submit" value="Upload"  class="btn btn-info" id="btnSubmit" (click)="upload(this)"/> -->


                      </div>
                    </div>
                    <div *ngIf="!options" disabled class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="Contract ID" class="control-label" class="required">Contract</label><br />
                          <p-dropdown [style]="{'width': '280px'}"  [options]="selecteContractList" [ngModelOptions]="{standalone: true}" filter="true"
                            [(ngModel)]="contractBranch.contractId" name="ContractId" id="contractId"></p-dropdown>
                        </div>
                        <div class="col-sm"><br />
                          <label for="maxDowntime"><input name="optionsForBranchAndATM"
                              [(ngModel)]="optionsForBranchAndATM" type="radio" [value]="false"
                              [checked]="optionsForBranchAndATM" />Branch </label>
                          &nbsp;
                          <label for="maxDowntime"><input name="optionsForBranchAndATM"
                              [(ngModel)]="optionsForBranchAndATM" type="radio" [value]="true"
                              [checked]="optionsForBranchAndATM" />ATM </label>
                        </div>



                      </div>
                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="status" class="control-label" class="required">Status</label><br />
                          <p-dropdown [style]="{'width': '280px'}" [options]="status" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contractBranch.status" name="status" id="status"></p-dropdown>
                        </div>

                        <div *ngIf="!optionsForBranchAndATM" disabled class="col-sm">
                          <label for="brc" class="control-label" class="required">Branch</label><br />
                          <p-dropdown [style]="{'width': '284px'}" filter=true [options]="selecteBranchName" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contractBranch.brac" name="BranchCode" id="brac"></p-dropdown>

                        </div>
                        <div *ngIf="optionsForBranchAndATM" disabled class="col-sm">
                          <div class="row">
                            <div class="col-sm">
                              <label for="branchCode" class="required">Branch Code</label>
                              <input (keypress)="numberOnly($event)" [(ngModel)]="contractBranch.brcAtm" placeholder="Branch Code" name="brcAtm" class="form-control"
                                id="brcAtm" type="text">
    
                            </div>
                            <div class="col-sm">
                              <label for="name" class="required">Name</label>
                              <input [(ngModel)]="contractBranch.brName" placeholder="Name" name="name" class="form-control"
                                id="name" type="text">
    
                            </div>
    
    
    
                          </div>
    

                        </div>
                      </div>
                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="BW">Bandwidth</label>
                          <input [(ngModel)]="contractBranch.bw" placeholder="Bandwidth" name="BW" class="form-control"
                            id="bw" maxlength="11" input (keypress)="numberOnly($event)" type="text">

                        </div>
                        <div class="col-sm">
                          <label for="Monthly Charge">Monthly Charge</label>
                          <input type="text" [(ngModel)]="contractBranch.monthlyCharge" placeholder="Monthly Charge"
                            name="Monthly charge " maxlength="9" input (keypress)="numberOnly($event)" class="form-control" id="monthlycharge">
                        </div>



                      </div>
                    </div>


                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info" *ngIf="!contractBranch.id && !options"
                      (click)="createContractBranch()"><b>Create</b></button>

                    <button *ngIf="options" type="submit" class="btn btn-sm btn-info" id="btnSubmit" (click)="upload()">
                      <b>Upload</b></button>

                    <button class="btn btn-sm btn-info" *ngIf="contractBranch.id && !options "
                      (click)="updateContract(contractBranch) "><b>Update</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" *ngIf="contractBranch.id && !options "
                      (click)="deleteContract(contractBranch)"><b>Delete</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                  </div>

                  
                </form>
                <div id="contractBranchUploadSpinner" style="display: none;" class="loading-indicator">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                    animationDuration=".5s"></p-progressSpinner>
                </div>

              </div>
            </div>
          </div>
          <app-contract-branch></app-contract-branch>
        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>