<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert new Contract bill entry</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      <div class="form-group col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="venId" class="required">Vendor</label><br>
                           <p-dropdown [style]="{'width': '285px'}"   filter=true  [options]="selectedvendor"  [ngModelOptions]="{standalone: true}" [(ngModel)]="venID"  name = "venID" id = "venID" (onChange) = "getCon(venID)" ></p-dropdown>
                          
                           </div>
                          <div class="col-md-6">
                            
                            <label for="contract" class="required">Contract</label><br>
                            
                            <p-dropdown *ngIf="!contractBillEntry.entry_id" [style]="{'width': '285px'}"  [options]="selectedBillEnt" filter="true" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contractBillEntry.cont_id" name="contract" (onChange) = "getItem(contractBillEntry.cont_id)"> </p-dropdown>
                          
                          <p-dropdown *ngIf="contractBillEntry.entry_id"   placeholder={{contractNameWithNumberSet.get(contractBillEntry.cont_id)}}  [style]="{'width': '285px'}"  [options]="selectedBillEnt" filter="true" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contractBillEntry.cont_id" name="contract" (onChange) = "getItem(contractBillEntry.cont_id)"> </p-dropdown>
                            
                          </div>
                        </div>   
                      </div>
                        <div class="form-group col-md-12">
                          <div class="row">
                            <div class="col-md-6">
                          
                              <label for="part_full" class="required">Partial/Full:</label><br>
                              <p-dropdown [style]="{'width': '285px'}" [options]="partFull" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contractBillEntry.part_full" name="status"> </p-dropdown>    
                            </div>
                            <div class="col-md-6" >
                            <label for="itemId" class="required">Item</label><br>
                            <!-- <p-dropdown  [style]="{'width': '285px'}" [options]="selecteItemIdList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contractBillEntry.itemid" name="itemId"> </p-dropdown>   -->
                            <!-- <p-multiSelect  *ngIf="!contractBillEntry.entry_id"  defaultLabel="Choose Items"   (onSelect)="onItemSelect($event)"   [options]="selecteItemIdList"   [style]="{'width': '285px'}" name="itemId" id="itemId"  [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"></p-multiSelect> -->
                            <p-multiSelect [style]="{'width': '285px'}" *ngIf="((contractTypeSet.get(contractBillEntry.cont_id)==='pur')||(contractTypeSet.get(contractBillEntry.cont_id)==='AMC')||(!contractBillEntry.cont_id))"    defaultLabel="{{ defaultValue }}"  [options]="selecteItemIdList"   name="itemId" id="itemId"  [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"></p-multiSelect>
                            <input type="text" readonly   *ngIf="((contractTypeSet.get(contractBillEntry.cont_id)==='conn')||(contractTypeSet.get(contractBillEntry.cont_id)==='SLA'))"  name="itemId" id="itemId" value="connectivity" class="form-control" >     
                          
                          </div>
                            </div>
                      </div>
                        <div class="form-group col-md-12">
                          <div class="row">
                            <div class="col-sm">
                                <label for="billNo" class="required"> Bill No.:</label><br>
                                <input type="text"  [(ngModel)]="contractBillEntry.bill_no" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">    
                            </div>
                            <div class="col-sm">
                              <label for="billamount" class="required">Bill Amount:</label><br>
                              <input type="number" [(ngModel)]="contractBillEntry.billamount" placeholder="Bill Amount" name="billamount" class="form-control" id="billamount">                                    
                          </div>
                           
                          </div>   
                        </div>

                        


                        


                        <div class="form-group col-md-12">
                          <div class="row">
                            <div class="col-md-6">
                                <label for="billDate"> Bill Date:</label><br>
                                <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractBillEntry.bill_date" type="date" placeholder="Bill Date" name="billDate"
                            class="form-control" id="billDate">
                                <!-- <input type="date" style="width:200px" class="form-control" id="billDate" placeholder="Enter bill date" name="billDate" [(ngModel)]="contractBillEntry.bill_date">     -->
                            </div>
                            <div class="col-md-6">
                              <label for="billRecieveDate"> Bill Receive Date:</label><br>
                              <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractBillEntry.bill_recieve_date" type="date" placeholder="Bill recieve date" name="billRecieveDate"
                            class="form-control" id="billRecieveDate">
                              <!-- <input type="date" style="width:200px" class="form-control" id="billRecieveDate" placeholder="Enter bill recieve date" name="billRecieveDate" [(ngModel)]="contractBillEntry.bill_recieve_date">     -->
                          </div>
                          </div>   
                        </div>




                          <div class="form-group col-md-12">
                            <div class="row">
                              <div class="col-md-6">
                                  <label for="sendAuditDate"> Send Audit Date:</label><br>
                                  <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractBillEntry.send_audit_date" type="date" placeholder="Send audit date" name="sendAuditDate"
                            class="form-control" id="sendAuditDate">
                                  <!-- <input type="date" style="width:200px" class="form-control" id="sendAuditDate" placeholder="Enter send audit date" name="sendAuditDate" [(ngModel)]="contractBillEntry.send_audit_date">     -->
                              </div>
                              <div class="col-md-6">
                                <label for="returnFromAuditDate"> Return From Audit Date:</label><br>
                                <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractBillEntry.return_from_audit_date" type="date" placeholder="Return from audit date" name="returnFromAuditDate"
                            class="form-control" id="returnFromAuditDate">
                                <!-- <input type="date" style="width:200px" class="form-control" id="returnFromAuditDate" placeholder="Enter return from audit date" name="returnFromAuditDate" [(ngModel)]="contractBillEntry.return_from_audit_date">     -->
                            </div>
                            </div>   
                          </div>
<!-- 

                        <div class="form-group col-md-7">
                            <div class="row">
                              <div class="col-sm">
                                <label for="part_full">Partial/Full:</label><br>
                                <p-dropdown [options]="partFull" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="contractBillEntry.part_full" name="status"> </p-dropdown>    
                              </div>
                            </div>   
                          </div> -->


                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!contractBillEntry.entry_id"  (click)="createContBillEntry()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contractBillEntry.entry_id" (click)="updateContBillEntry(contractBillEntry) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contractBillEntry.entry_id" (click)="deleteContBillEntry(contractBillEntry)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>

                </div>
            </div>
        </div>
        
        <app-contractbillentryinfo></app-contractbillentryinfo>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>