
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="assets/images/logo.png" alt="IMG">
      </div>

      <form class="login100-form validate-form" #f="ngForm" name="myForm">
        <span class="login100-form-title">
          Member Login
        </span>
        
        <div class="wrap-input100 validate-input">


          <input class="input100" type="text" id= "username" name="username" placeholder="username" required
          [(ngModel)]="User.userId"  (blur) = "userNameEmptyCheck()" (keyup.enter)="onLoggedin()"  />

          <span class="focus-input100" ng-show="!myForm.User.userId.$valid"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>




        <div class="wrap-input100 validate-input">
          <input class="input100"  type="password" id= "password" name="password" placeholder="Password" required
          [(ngModel)]="User.password"  (blur) = "passwordEmptyCheck()" (keyup.enter)="onLoggedin()"/>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        
        <div class="container-login100-form-btn">
            <input type='button' class="btn rounded-btn" class="login100-form-btn" (click)="onLoggedin()" value="Log In"/>

        </div>

        <div class="text-center p-t-12">
          <span class="txt1">
            Forgot
          </span>
          <a class="txt2" href="#">
            Username / Password?
          </a>
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" href="#">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
