<!-- <div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content"> -->
            
      <div class="row">
            <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <!-- <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Office Code</th>
                        <th>User Status</th>
                        <th>Fail Count</th>
                        <th>Password Change Date</th>
                        <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let user of users">
                              <td><font style="font-size: 15px; font-family: Arial, Helvetica, sans-serif">{{user.userId}}</font></td>
                              <td><font style="font-size: 15px; font-family: Arial, Helvetica, sans-serif">{{user.userName}}</font></td>
                              <td><font style="font-size: 15px; font-family: Arial, Helvetica, sans-serif">{{user.officeCode}}</font></td>
                              <td><font style="font-size: 15px; font-family: Arial, Helvetica, sans-serif">{{user.userStatus}}</font></td>
                              <td><font style="font-size: 15px; font-family: Arial, Helvetica, sans-serif">{{user.failCount}}</font></td>
                              <td><font style="font-size: 15px; font-family: Arial, Helvetica, sans-serif">{{user.passwordChangeDate}}</font></td>
                              <td><button type="button" class="btn btn-info" (click)="editEmployee(user)">Edit</button></td>
                          </tr>
                      </tbody>
                        </table> -->

                        <p-table [columns]="cols" [value]="users" [paginator]="true" [rows]="5" sortField="Id" sortOrder="-1"  >
                          <ng-template pTemplate="caption">
                             User Data
                          </ng-template>  
                        <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th *ngFor="let col of columns">
                                      {{col.header}}
                                  </th>
                                  <th>
                                    Edit
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-user let-columns="columns">
                              <tr>
                                  <td *ngFor="let col of columns"  >
                                      {{  user[col.field]}}
                                  </td>
                                  <td>
                                    <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editEmployee(user)">
                                      <span class="fas fa-edit" aria-hidden="true"></span> 
                                    </button>
                                  </td>
                                  
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage" let-columns>
                              <tr>
                                  <td [attr.colspan]="columns.length">
                                      No records found
                                  </td>
                                  <td></td>
                              </tr>
                          </ng-template>
                      </p-table>

                  </div>
                </div>
            </div>
      </div>
        <!-- </section>
      </section>
    </div> -->
    <!-- <app-footernavbar></app-footernavbar> -->
  <!-- </div> -->