<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Contract Payment Method</h3>
                </div>
                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <input [(ngModel)]="contPaymentMethod.id" hidden="true" class="form-control"
                      [ngModelOptions]="{standalone: true}">
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="contractId" class="required">Contract Number:</label><br />
                          <p-dropdown  [style]="{'width': '285px'}" filter="true" [options]="selecteContractList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="contPaymentMethod.contId" name="selecteContractList"> </p-dropdown>

                        </div>
                        <div class="col-sm">
                          <label for="paymentSchedule" class="required">Payment Schedule:</label><br />
                          <p-dropdown  [style]="{'width': '284px'}" [options]="paymentSchedule" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contPaymentMethod.pmtSchedule" name="paymentSchedule"> </p-dropdown>
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="paymentOption" class="required">Payment Option:</label><br />
                          <p-dropdown  [style]="{'width': '285px'}" [options]="partFull" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="contPaymentMethod.partFull" name="partFull"> </p-dropdown>
                        </div>
                        <div class="col-sm">
                          <label for="ttValueProduct" class="required">Total Value Product:</label>
                          <input type="text" [(ngModel)]="contPaymentMethod.ttValueProduct" placeholder="Total Value Product"
                            name="ttValueProduct" class="form-control" id="ttValueProduct"
                            (keypress)="numberOnly($event)">
                        </div>
                      </div>
                    </div>

                    <div  class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="paymentDate">Payment Date:</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contPaymentMethod.paymentDate" type="date" placeholder="Payment Date" name="paymentDate"
                            class="form-control" id="paymentDate">
                        </div>
                        <div class="col-sm">
                          <label for="paymentAmount" class="required">Payment Amount:</label>
                          <input type="number" [(ngModel)]="contPaymentMethod.paymentAmount" placeholder="Payment Amount"
                            name="paymentAmount" class="form-control" id="paymentAmount"
                            (keypress)="numberOnly($event)">
                        </div>
                      </div>
                    </div>
                    <div  class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="dueDate">Due Date:</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contPaymentMethod.dueDate" type="date" placeholder="Due Date" name="dueDate"
                            class="form-control" id="dueDate">
                        </div>
                        <div class="col-sm">
                          <label for="dueAmount">Due Amount:</label>
                          <!-- {{contPaymentMethod.ttValueProduct-contPaymentMethod.paymentAmount}} -->
                          <input type="number"  disabled [(ngModel)]="contPaymentMethod.dueAmount" value={{contPaymentMethod.ttValueProduct-contPaymentMethod.paymentAmount}}
                            name="dueAmount" class="form-control" id="dueAmount"
                            (keypress)="numberOnly($event)">
                            
                          
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info" *ngIf="!contPaymentMethod.id"
                      (click)="create()"><b>Create</b></button>

                    <button class="btn btn-sm btn-info" *ngIf="contPaymentMethod.id"
                      (click)="update(contPaymentMethod)"><b>Update</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" *ngIf="contPaymentMethod.id"
                      (click)="delete(contPaymentMethod)"><b>Delete</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                  </div>
                </form>
                <div id="uploadSpinner" style="display: none;" class="loading-indicator">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                    animationDuration=".5s"></p-progressSpinner>
                </div>

              </div>
            </div>
          </div>
          <app-cont-payment-method></app-cont-payment-method>
        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>