<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert Site</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                                <label for="shortName" class='required'>Enter Short Name:</label><br>
                                <input type="text" [(ngModel)]="itemtype.shortName" placeholder="Short Name" name="shortName" class="form-control" id="shortName">    
                            </div>
                          </div>   
                        </div>
            
                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                              <label for="description">Enter Type Description:</label><br>
                              <textarea type = "text" [(ngModel)]="itemtype.description" placeholder="Type Description" name="typeDescription" class="form-control" id="typeDescription">
                                </textarea>
                            </div>
                          </div>   
                        </div>
                        
                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                              <label for="category" class='required'>Enter Category:</label><br>
                              <p-dropdown [style]="{'width': '384px'}"  [options]="itemTypeCategory"   [ngModelOptions]="{standalone: true}"  [(ngModel)]="itemtype.category" name="category"></p-dropdown>
                            </div>
                          </div>   
                        </div>
                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                            <button class="btn btn-sm  btn-info" *ngIf="!itemtype.typeId"  (click)="createItemType()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="itemtype.typeId" (click)="updateItemType(itemtype) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="itemtype.typeId" (click)="deleteItemType(itemtype)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <app-item-type></app-item-type>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>

