
  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
      <section class="content-header">
          <section class="content ">

           

            <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <label for="contDate" >Date</label>
                </div>
                <div class="col-sm-2">
                    <input  max="9999-12-31" maxlength="4" onload="getDate()" pattern="[1-9][0-9]{3}" [(ngModel)]="fdate"  type = "date"  placeholder="Date" name="fcontDate" class="form-control" id="fcontDate">
                </div>
                <!-- <div class="col-sm-1">
                    <label for="contDate" >To Date</label>
                </div>
                <div class="col-sm-3">
                    <input  max="9999-12-31" maxlength="4" onload="getDate()" pattern="[1-9][0-9]{3}" [(ngModel)]="tdate"  type = "date"  placeholder="Date" name="tcontDate" class="form-control" id="tcontDate">
                </div> -->
                <div class="col-sm-1">
                    <button class="btn btn-sm btn-info"
                    (click)="showAmcPrevData(fdate,tdate) "><b>Show</b></button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-sm btn-info"
                    (click)="showPrevReport(fdate) "><b>Previous Report</b></button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-sm btn-info"
                    (click)="showReport() "><b>Current Report</b></button>
                </div>
                <div class="col-sm-2">
                    <input   readonly pattern="[1-9][0-9]{3}" [(ngModel)]="tdate"  type = "date"  >
                </div>
                <div class="col-sm-2">
                    <label for="tdate" > Date</label>
                </div>
                
            </div>
         
        </div>
        <br>
            <div class="container-fluid">
                
              <div class="card-columns d-flex justify-content-center">
                
                  <div class="card">
                      <div class="card-block">

                        <div *ngIf="blankAmc" style="text-align: center;">
                            <div style="position: relative;">
                                <b  style="fontSize: 16;"> AMC Previous Chart </b>
                                </div>
                            <span style="border:4px solid red;" > No data available </span>
                        </div>

                          <div style="position: relative;">
                           
                              <p-chart *ngIf="!blankAmc" type="pie" height="250px" [data]="countamcDataPrevData"  [plugins]="plugin" [options]="chartOptionsForAMCPrev" (onDataSelect)="selectDataAmcPrev($event)"></p-chart>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                    
                    <div class="card-block">
                      
                        <div style="position: relative;">
                            <p-chart  type="pie" height="250px" [data]="countamcData"  [plugins]="plugin" [options]="chartOptionsForAMC" (onDataSelect)="selectDataAmc($event)"></p-chart>
                        </div>
                    </div>
                  </div>

              </div>
          </div>


          <div class="container-fluid">
                
            <div class="card-columns d-flex justify-content-center">
             
                <div class="card">
                    <div class="card-block">
                        <div *ngIf="blankSla" style="text-align: center;">
                            <div style="position: relative;">
                                <b  style="fontSize: 16;"> SLA Previous Chart </b>
                                </div>
                            <span style="border:4px solid red;" > No data available </span>
                        </div>
                        
                        <div style="position: relative;">
                            <p-chart *ngIf="!blankSla" type="pie" height="250px" [data]="countslaDataPrev"  [plugins]="plugin" [options]="chartOptionsForSLAPrev" (onDataSelect)="selectDataPrev($event)"></p-chart>
                        </div>
                    </div>
                </div>
                <div class="card">
                  <div class="card-block">
                      <div style="position: relative;">
                          <p-chart  type="pie" height="250px" [data]="countslaData"  [plugins]="plugin" [options]="chartOptionsForSLA" (onDataSelect)="selectData($event)"></p-chart>
                      </div>
                  </div>
                </div>

            </div>
        </div>




          <!-- <div class="card">
              <div class="card-body">
                  <div class="container">
                    <div class="col-sm">
                        <label for="contDate" >Date</label>
                        <input  max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" [(ngModel)]="date"  type = "date"  placeholder="Date" name="contDate" class="form-control" id="contDate">
                     </div>
                      <div class="row">
                        <div class="col-lg" >
                            <p-chart type="pie" height="250px" [data]="connectivityDt"  [plugins]="plugin" [options]="chartOptionsForConn" (onDataSelect)="selectDataConn($event)"></p-chart>
                        </div>
                          <div class="col-lg">
                              <div class="topText">
                                  
                              </div>
                              <p-chart type="pie" height="250px" [data]="countslaData" [plugins]="plugin"  [options]="chartOptionsForSLA" (onDataSelect)="selectData($event)"></p-chart>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
          <p-dialog header="AMC PREVIOUS DATA" [(visible)]="displayAMCPrev" [style]="{width: '50vw'}">
            <p-table #idAMCPrev [columns]="colsAmc" [value]="amcChartForClickPrev" [paginator]="true" [rows]="5">
                <ng-template pTemplate="caption">
                    <div class='row'>
                        <div class='col-sm-8'>
                            AMC PREVIOUS DATA ({{this.caption}})
                        </div>
                        <div class='col-sm-2'>
                            <button type="button" class="btn btn-secondary  btn-danger btn-sm" (click)="AMCreportPrevPreview('AMC_CURR_WITH_ITEM')" data-toggle="tooltip" data-placement="right" title="Preview Report">
                                <i class="pi pi-print"></i> Item
                            </button>
                        </div>
                        <div class='col-sm-2'>
                            <button type="button" class="btn btn-secondary  btn-danger btn-sm" (click)="AMCreportPrevPreview('AMC_CURR_WITHOUT_ITEM')" data-toggle="tooltip" data-placement="right" title="Preview Report">
                                <i class="pi pi-print"></i> Contract
                            </button>
                        </div>
                    </div>
                   

                    
                    
                   
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                            <input pInputText type="text" style="width: 100%;" (input)="idAMCPrev.filter($event.target.value, col.field, 'contains')" />
                                </span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contractRate let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <div *ngIf="col.field == 'contractNo'">
                                <button  type="button" class="btn btn-secondary btn-sm" (click)="conDetail(contractRate[col.field])" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                                    {{contractRate[col.field].substring(0, 23)}}
                                </button>
                                <b class="text-danger" *ngIf="contractSet.get(contractRate[col.field]).status=='CLS'" >
                                    ({{contractSet.get(contractRate[col.field]).status}})
                                </b>
                            </div>
                            <div *ngIf="!(col.field == 'contractNo')">{{ contractRate[col.field].substring(0, 10) }}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-dialog>

          <p-dialog header=" AMC DATA" [(visible)]="display2" [style]="{width: '50vw'}">
            <p-table #id2 [columns]="colsAmc" [value]="amcChartForClick" [paginator]="true" [rows]="5">
                <ng-template pTemplate="caption">
                    <div class='row'>
                        <div class='col-sm-8'>
                            AMC DATA ({{this.caption}})
                        </div>
                        <div class='col-sm-2'>
                            <button type="button" class="btn btn-secondary  btn-danger btn-sm" (click)="AMCreportPreview('AMC_CURR_WITH_ITEM')" data-toggle="tooltip" data-placement="right" title="Preview Report">
                                <i class="pi pi-print"></i> Item
                            </button>
                        </div>
                        <div class='col-sm-2'>
                            <button type="button" class="btn btn-secondary  btn-danger btn-sm" (click)="AMCreportPreview('AMC_CURR_WITHOUT_ITEM')" data-toggle="tooltip" data-placement="right" title="Preview Report">
                                <i class="pi pi-print"></i> Contract
                            </button>
                        </div>
                    </div>
                    
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                            <input pInputText type="text" style="width: 100%;" (input)="id2.filter($event.target.value, col.field, 'contains')" />
                                </span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contractRate let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            <div *ngIf="col.field == 'contractNo'">
                                <button type="button" class="btn btn-secondary btn-sm" (click)="conDetail(contractRate[col.field])" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                                    {{contractRate[col.field].substring(0, 23)}}
                                </button>
                            </div>
                            <div *ngIf="!(col.field == 'contractNo')">{{ contractRate[col.field].substring(0, 10) }}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length">
                            No records found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-dialog>


        <p-dialog header="SLA DATA" [(visible)]="display" [style]="{width: '50vw'}">
          <p-table #id [columns]="cols" [value]="slaChartForClick" [paginator]="true" [rows]="5">
              <ng-template pTemplate="caption" >
                  SLA DATA ({{this.caption}})
                  <button type="button" class="btn btn-danger btn-sm" (click)="SLAreportPreview()" data-toggle="tooltip" data-placement="right" title="Preview Report">
                    Print Preview
                </button>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                          {{col.header}}
                          <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                          <input pInputText type="text" style="width: 100%;" (input)="id.filter($event.target.value, col.field, 'contains')" />
                            </span>
                        </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-contractRate let-columns="columns">
                  <tr>
                      <td *ngFor="let col of columns">
                          <div *ngIf="col.field == 'contractNo'">
                            <button type="button" class="btn btn-secondary btn-sm" (click)="conDetail(contractRate[col.field])" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                                {{contractRate[col.field].substring(0, 23)}}
                            </button>

                              <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                                  {{contractRate[col.field].substring(0, 15)}}
                              </button> -->
                          </div>
                          <div *ngIf="!(col.field == 'contractNo')">{{ contractRate[col.field].substring(0, 10) }}</div>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                      <td [attr.colspan]="columns.length">
                          No records found
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </p-dialog>

      <p-dialog header="SLA PREVIOUS DATA" [(visible)]="displaySLAPrev" [style]="{width: '50vw'}">
        <p-table #idSlaPrev [columns]="cols" [value]="slaChartForClickPrev" [paginator]="true" [rows]="5">
            <ng-template pTemplate="caption" >
                SLA PREVIOUS DATA ({{this.caption}})
                <button type="button" class="btn btn-secondary btn-danger btn-sm" (click)="SLAreportPrevPreview()" data-toggle="tooltip" data-placement="right" title="Preview Report">
                  Print Preview
              </button>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                        <span class="p-input-icon-right">
                          <i class="pi pi-search"></i>
                        <input pInputText type="text" style="width: 100%;" (input)="idSlaPrev.filter($event.target.value, col.field, 'contains')" />
                          </span>
                      </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contractRate let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <div *ngIf="col.field == 'contractNo'">
                          <button type="button" class="btn btn-secondary btn-sm" (click)="conDetail(contractRate[col.field])" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                              {{contractRate[col.field].substring(0, 23)}}
                          </button>
                          <b class="text-danger" *ngIf="contractSet.get(contractRate[col.field]).status=='CLS'" >
                            ({{contractSet.get(contractRate[col.field]).status}})
                          </b>
                            <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                                {{contractRate[col.field].substring(0, 15)}}
                            </button> -->
                        </div>
                        <div *ngIf="!(col.field == 'contractNo')">{{ contractRate[col.field].substring(0, 10) }}</div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>

      <!-- <p-dialog header="Title" [(visible)]="display3" [style]="{width: '50vw'}">
        <p-table #id3 [columns]="cols" [value]="connChartForClick" [paginator]="true" [rows]="5">
            <ng-template pTemplate="caption" >
                Connectivity Chart
                <button type="button" class="btn btn-secondary btn-danger" (click)="CONNreportPreview()" data-toggle="tooltip" data-placement="right" title="Preview Report">
                  Print Preview
              </button>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                        <span class="p-input-icon-right">
                          <i class="pi pi-search"></i>
                        <input pInputText type="text" style="width: 100%;" (input)="id3.filter($event.target.value, col.field, 'contains')" />
                          </span>
                      </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contractRate let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        <div *ngIf="col.field == 'contractNo'">
                            <button type="button" class="btn btn-secondary" (click)="conDetail(contractRate[col.field])" data-toggle="tooltip" data-placement="right" title="{{contractRate[col.field]}}">
                                {{contractRate[col.field].substring(0, 15)}}
                            </button>
                    
                        </div>
                        <div *ngIf="!(col.field == 'contractNo')">{{ contractRate[col.field].substring(0, 10) }}</div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog> -->
          </section>
      </section>
  </div>
  <app-footernavbar></app-footernavbar>
<!-- ./wrapper -->
