<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
        <section class="content-header">
          <section class="content">
              <div class="container-fluid">
                  <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                      <!-- general form elements -->
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">Penalty Process</h3>
                        </div>
                        <form role="form"  #f="ngForm" name="myForm"  id="myForm" (ngSubmit)="f.reset()">
                          <div class="card-body">
                            <div class="form-group col-md-6">
                              <div class="row">
                                <div class="col-sm">
                                  
                                    <label for="vendorId" class="required" class="col-sm-3 col-form-label" > Vendor </label>

                                    <p-dropdown filter="true" [options]="selectedvendor"  [ngModelOptions]="{standalone: true}" [(ngModel)]="penaltyProcess.vendor"  name = "vendorId" id = "vendorId" (onChange) = "getContractList(penaltyProcess.vendor)"></p-dropdown>
                                   <!-- <input [(ngModel)]="penaltyConfig.vendorId"  placeholder="Vendor Id" name="Vendor Id" class="form-control" id="vendorId">-->
                                 </div >
                                
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <div class="row">
                               
                                 <div class="col-sm">
                                    <label for="Contract Id" class="col-sm-3 col-form-label " >Contract</label>
                                    <p-dropdown [options]="selectedcontract"  [ngModelOptions]="{standalone: true}"  name = "selectedCont" [(ngModel)]="penaltyProcess.contract"  placeholder="{{ contractNameSet.get(penaltyProcess.contract) }}" ></p-dropdown>          
                                  
                                  </div>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <div class="row">
                                
                                 <div class="col-sm">
                                  <label for="year" class="col-sm-3 col-form-label">Year</label>
                                  <!-- <p-calendar [(ngModel)]="penaltyProcess.date"  view="month" [ngModelOptions]="{standalone: true}"  type="date" dateFormat="m/yy" [yearNavigator]="true" yearRange="2000:2030" [readonlyInput]="true"></p-calendar> -->
                                  <input type="month" id="date" name="date"
                                  min="2018-01" value="2018-01">
                                </div>
                              </div>   
                            </div>                         
                          </div>
                          <!-- /.card-body -->
                          <div class="card-footer">

                            <button class="btn btn-sm  btn-info"
                              (click)="process()"><b>Process</b></button> &nbsp;
        
                            
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                           
                        </form>
                       
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <p-table #penalty [columns]="cols" [value]="penalties" [paginator]="true" [rows]="5" sortField="calcId" sortOrder="-1"   >
                      <ng-template pTemplate="caption">
                        Processed Data
                        <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="reloadPage()">
                          <span class="fa fa-refresh" aria-hidden="true"></span> 
                        </button>
                      </ng-template>  
                      <ng-template pTemplate="header" let-columns>
                          <tr>
                              <th *ngFor="let col of columns">
                                  {{col.header}}
                                  <span class="p-input-icon-right">
                                    <i class="pi pi-search"></i>
                                  <input  pInputText type="text" style="width: 100%;"
                                  (input)="penalty.filter($event.target.value, col.field, 'contains')" />
                                  </span>
                              </th>
                              <th >
                                Delete
                            </th>
          
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-penaltyObject let-columns="columns">
                          <tr>
                              <td *ngFor="let col of columns"  >
                                   <div *ngIf="!(col.field === 'venId' || col.field === 'contId')"  > {{  penaltyObject[col.field] }}</div>
                                   <div *ngIf="col.field === 'venId'">{{  vendorSet.get(penaltyObject[col.field]) }}</div>
                                  <div *ngIf="col.field === 'contId'">{{  contractNameSet.get(penaltyObject[col.field]) }}</div>
                                  
                              </td>
                              <td>
                                
                                <button type="button" class="btn btn-danger btn-sm"  (click)="deletePenalty(penaltyObject)">
                                    <span class="fas fa-remove"></span>    
                                </button>
                              </td>
                              
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage" let-columns>
                          <tr>
                              <td [attr.colspan]="columns.length">
                                  No records found
                              </td>
                              <td></td>
                          </tr>
                      </ng-template>
                  </p-table>
                  <p-confirmDialog></p-confirmDialog>
                  
                  </div>
                </div>
            </div>
          </div>
          </section>
        </section>
      </div>
    <app-footernavbar></app-footernavbar>
  </div>
  <!-- ./wrapper -->
  