<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <p-table #entry_id [columns]="cols" [value]="budgetMasterInfos" [paginator]="true" [rows]="9"
          sortField="entry_id" sortOrder="-1">
          <ng-template pTemplate="caption">
            Budget Master Info 
            <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="reloadPage()">
              <span class="fa fa-refresh" aria-hidden="true"></span>
            </button>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
                <input pInputText type="text" (input)="entry_id.filter($event.target.value, col.field, 'contains')" />
              </th>
              <!-- <th>
                Edit
              </th> -->

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-budgetBillEntry let-columns="columns">
            <tr>
              <td   *ngFor="let col of columns">
                <div *ngIf="(col.field!='cont_id')" >{{ budgetBillEntry[col.field] }}</div>
                <div *ngIf="(col.field=='cont_id')" >{{ this.contractNameSet.get(budgetBillEntry[col.field] )}}</div>

              </td>
              <!-- <td>
                <button type="button" class="btn btn-info btn-sm" aria-hidden="true"
                  (click)="editBudgetMasterInfo(budgetMasterInfo)">
                  <span class="fas fa-edit" aria-hidden="true"></span>
                </button>
              </td> -->

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No records found
              </td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>


      </div>
    </div>
  </div>
</div>