
<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Create New Penalty Config</h3>
                      </div>
                      <form #f="ngForm" name="myForm">
                        <div class="card-body">
                        
                             <div class="form-group col-md-10">
                              <div class="row">
                                <div class="col-sm">
                                    <label for="Config ID">Config Id</label>
                                    <input [(ngModel)]="penaltyConfig.configId"  placeholder="Config Id" name="Config Id" class="form-control" id="configId">
                                 </div>
                                 <div class="col-sm">
                                    <label for="Contract Id">Contract Id</label>
                                    <input [(ngModel)]="penaltyConfig.contractId"  placeholder="Contract Id" name="Contract Id" class="form-control" id="contractId">
                                 </div>
                              </div>   
                            </div>

                            <div class="form-group col-md-10">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="Vendor Id">Vendor Id</label>
                                      <input [(ngModel)]="penaltyConfig.vendorId"  placeholder="Vendor Id" name="Vendor Id" class="form-control" id="vendorId">
                                   </div >
                                   <div class="col-sm">
                                      <label for="At Time In Month">At Time In Month</label>
                                      <input [(ngModel)]="penaltyConfig.atTimeInMonth" placeholder="At Time In Month"  name="At Time In Month" class="form-control" id="atTimeInMonth">
                                   </div>
                                </div>   
                            </div>

                            <div class="form-group col-md-10">
                                <div class="row">
                             <div class="col-sm">
                                      <label for="Dist In Month">Dist In Month</label>
                                      <input [(ngModel)]="penaltyConfig.distInMonth"  placeholder="Dist In Month" name="Dist In Month" class="form-control" id="distInMonth">
                               </div>
                                   <div class="col-sm">
                                    <label for="Penalty Rate">Penalty Rate</label>
                                    <input [(ngModel)]="penaltyConfig.penaltyRate"  placeholder="Penalty Rate" name="Penalty Rate" class="form-control" id="penaltyRate">

                                 </div>
                                  
                                </div>   
                            </div>
                        </div>
                        <!-- /.card-body -->
        
                         <div class="card-footer"> 

                            <tr>
                              <div style="float:left; padding: 10px;">
                                <td><button type="button" class="btn btn-info" (click)="createPenaltyConfig(penaltyConfig)">Create</button></td>
                             </div>
                              
                              <div style="float:left; padding: 10px;">

                               <td><button class="btn btn-info" *ngIf="penaltyConfig.contractId" (click)="updatePenaltyConfig(penaltyConfig) ">Update</button></td> 
                             </div>
                             <div style="float:left; padding: 10px;">
                              <td><button class="btn btn-info"  *ngIf="penaltyConfig.contractId" (click)="deletePenaltyConfig(penaltyConfig)">Delete</button></td>
                            </div>
                            </tr>
                            
                        </div>
                      </form> 
                     
                    </div>
                </div>
            </div>
            <app-penalty-config></app-penalty-config>
        </div>
        
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>