<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
          <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Excel File Upload</h3>
                    </div>
                    <!-- <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                      <input type="file" name="files" (change)="selectFile($event)"/><br/><br/>
                      <input type="submit" value="Submit" id="btnSubmit" (click)="upload(this)"/>
                  </form> -->
                  
                   <!--  /.card-header -->
                    <!-- form start -->
                     <form role="form" #f="ngForm" name="myForm"  enctype="multipart/form-data" id="fileUploadForm" >
                      <div class="card-body">
                        
                        <div class="form-group col-md-6">
                          <label for="exampleInputFile">File input</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input type="file" name="files" class="custom-file-input"  id="exampleInputFile" accept=".xls,.xlsx" (change)="selectFile($event)">
                              <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose file</label>
                            </div>
                            
                          </div>
                        </div>
                        
                      </div>
                      <!-- /.card-body -->
      
                       <div class="card-footer"> 
                          <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                            <button  type="submit" class="btn btn-sm btn-info" id="btnSubmit" (click)="upload()">
                              <b>Upload</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                      </div>
                      
                    </form> 
                    <div id="downtimeUploadSpinner" style="display: none;" class="loading-indicator">
                      <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                    </div>
                   
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
                <p-table #downId [columns]="cols" [value]="downtimes" [paginator]="true" [rows]="5" sortField="id" sortOrder="-1"  >
                  <ng-template pTemplate="caption">
                    Downtime Data
                    <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="reloadPage()">
                      <span class="fa fa-refresh" aria-hidden="true"></span> 
                    </button>
                    <span style='color:black;margin-left:1.25em; display:inline-block;'>&nbsp;</span>
                    <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="LastDataPage()">
                      <span class="fa fa-search" aria-hidden="true"></span> 
                    </button>
                  </ng-template>  
                <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th *ngFor="let col of columns">
                              {{col.header}}
                              <input  pInputText type="text" style="width: 100%;"
                              (input)="downId.filter($event.target.value, col.field, 'contains')" />
                          </th>
                          <th >
                            Delete
                        </th>
      
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-downtime let-columns="columns">
                      <tr>
                          <td *ngFor="let col of columns"  >
                              <!-- <div>{{ downtime[col.field] }}</div> -->
                              
                              <div *ngIf="!(col.field === 'vendor' )"  >{{ col.data ? (downtime[col.field]| date : col.format) : downtime[col.field] }}</div>
                              <div *ngIf="col.field === 'vendor'">{{  vendorSet.get(downtime[col.field]) }}</div>
                          </td>
                          <td>
                            
                            <button type="button" class="btn btn-danger btn-sm"  (click)="deleteDowntime(downtime)">
                                <span class="fas fa-remove"></span> 
                            </button>
                          </td>
                          
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                          <td [attr.colspan]="columns.length">
                              No records found
                          </td>
                          <td></td>
                      </tr>
                  </ng-template>
              </p-table>
              <p-confirmDialog></p-confirmDialog>
              </div>
            </div>
        </div>
      </div>
      <p-dialog header="Title" [(visible)]="display" [style]="{width: '50vw'}">
        <p-table  [columns]="cols" [value]="lastdowntimes" >
          <ng-template pTemplate="caption">
            Last Uploaded range
            
          </ng-template>  
        <ng-template pTemplate="header" let-columns>
              <tr>
                  <th *ngFor="let col2 of columns">
                      {{col2.header}}
                     
                  </th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lastDowntime let-columns2="columns">
              <tr>
                  <td *ngFor="let col2 of columns2"  >
                        
                        <div *ngIf="!(col2.field === 'vendor' )"  >{{ col2.data ? (lastDowntime[col2.field]| date : col2.format) : lastDowntime[col2.field] }}</div>
                        <div *ngIf="col2.field === 'vendor'">{{  vendorSet.get(lastDowntime[col2.field]) }}</div>
                    </td>
                  
              </tr>
          </ng-template>
          
      </p-table>
      </p-dialog>
      </section>
    </section>
  </div>

  
  <app-footernavbar></app-footernavbar>
</div>

