<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Change password</h3>
                      </div>
                      <form #myForm="ngForm" name="myForm"  >
                        <div class="card-body">
                          
                            

                            <div class="form-group col-md-6">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="password" class="required">Current Password</label>
                                      <input [(ngModel)]="currPass" type="password" placeholder="Current Password" name="password" class="form-control" id="password" (focusout) = "focusoutHandlerPassword($event)">
                                   </div>
                                   <div class="col-sm">
                                      <label for="lastName" class="required">New Password:</label>
                                      <input [(ngModel)]="user.newPassword" type="password"  placeholder="New Password" name="newPassword" class="form-control" id="newPassword" (focusout) = "focusoutHandlerPassword($event)">
                                   </div>
                                </div>   
                            </div>

                            

                            
                        </div>
                        <!-- /.card-body -->
        
                         <div class="card-footer" > 
                            <button class="btn btn-sm  btn-info"  (click)="changePass()"><b>Change</b></button>
                        </div>
                      </form> 
                     
                    </div>
                </div>
            </div>
           
        </div>
        
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>