<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
          <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Contract Validity End Report</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Contract Validity End Report</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Contract Validity End Data </h3>
                </div>

                <form role="form"  #f="ngForm" name="myForm"  id="myForm" (ngSubmit)="f.reset()">
                    <div class="card-body">
                      <div class="form-group col-md-6">
                        <div class="row">
                          <div class="col-lg">
                            <label for="fromDate" class="col-sm-4 col-form-label">From Date</label><br/>
                            <input type="date" style="width:200px" class="form-control" id="fromDate" placeholder="From Date" name="fromDate" [(ngModel)]="findValidEnd.fromDate" >
                           </div>
                           <div class="col-lg">
                            <label for="toDate" class="col-sm-4 col-form-label">To Date</label><br/>
                            <input type="date" style="width:200px" class="form-control" id="toDate" placeholder="To Date" name="toDate" [(ngModel)]="findValidEnd.toDate" >
                           </div>
                        </div>   
                      </div>                         
                    </div>
                    <!-- /.card-body -->
            
                    <div class="card-footer">
            
                      <button class="btn btn-sm  btn-info"
                        (click)="export()"><b>Export</b></button> &nbsp;
            
                      
                      <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                    </div>
                  </form>
            </div>
            <!-- /.card -->
        
            
        
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        
        </section>
        </div>
        <app-footernavbar></app-footernavbar>
        </div>
        