<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
          <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>AMC Report</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">AMC Report</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">AMC Data </h3>
                </div>
                <!-- /.card-header -->
    <!-- /.card-body -->
    <form role="form"  #f="ngForm" name="myForm"  id="myForm" (ngSubmit)="f.reset()">
        <div class="card-body">
          <div class="form-group col-md-6">
              <div class="row">
                    <div class="col-sm">
                      <label for="in_action" class="control-label" class="required" name="in_action" >FILTER</label><br/>
                        <p-dropdown  [style]="{'width': '313px'}" [options]="in_action"  [ngModelOptions]="{standalone: true}" [(ngModel)]="penaltyReport.reportType"  name = "in_action" id = "in_action"></p-dropdown>

                     </div>
                       
            </div>
            &nbsp;
            <div class="row" *ngIf="penaltyReport.reportType==='AMC_REPORT_ON_DATE'" >
              <div class="col-lg">
                <label for="vendorId" class="col-sm-4 col-form-label">Start Date</label><br/>
                <input max={{penaltyReport.endDate}} maxlength="4" pattern="[1-9][0-9]{3}" type="date" style="width:200px" class="form-control" id="startDate" placeholder="Start Date" name="startDate" [(ngModel)]="penaltyReport.startDate" >
               </div>
               <div class="col-lg">
                <label for="vendorId" class="col-sm-4 col-form-label">End Date</label><br/>
                <input min={{penaltyReport.startDate}} max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" type="date" style="width:200px" class="form-control" id="endDate" placeholder="End Date" name="endDate" [(ngModel)]="penaltyReport.endDate" >
               </div>
            </div> 
            
            
            <div class="row" *ngIf="penaltyReport.reportType==='AMC_REPORT_ON_VEN'">
                                    
              <div class="col-sm">
                <label for="Vendor" class="required">VENDOR</label><br>
               <p-dropdown  filter=true [style]="{'width': '320px'}" [options]="selectedVendor"  [ngModelOptions]="{standalone: true}" [(ngModel)]="penaltyReport.venId"  name = "Vendor" id = "Vendor"></p-dropdown>

               </div>
          </div>

          <div class="row" *ngIf="penaltyReport.reportType==='AMC_REPORT_ON_ITEM'">
          <div class="col-sm">
            <label for="itemId" class="required">ITEM</label><br />
            <p-dropdown  [style]="{'width': '284px'}" filter="true" [options]="subItemList" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="penaltyReport.item" name="itemId"> </p-dropdown>
          </div>
        </div>

        <div class="row" *ngIf="penaltyReport.reportType==='AMC_REPORT_ON_SITE'">
          <div class="col-sm">
            <label for="site" class="required">SITE</label><br>
            <p-dropdown filter=true [style]="{'width': '285px'}" [options]="selectedTypeId" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="penaltyReport.site" name="selectedTypeId"> </p-dropdown>    
          </div>
        </div>

        <div class="row" *ngIf="penaltyReport.reportType==='AMC_REPORT_ON_WAR'">
          <div class="col-sm">
            <label for="site" class="required">WARRANTY/AMC</label><br>
            <p-dropdown filter=true [style]="{'width': '285px'}" [options]="selectedWar" [ngModelOptions]="{standalone: true}"
          [(ngModel)]="penaltyReport.status" name="selectedWar"> </p-dropdown>    
          </div>
        </div>

          </div>                         
        </div>
        <!-- /.card-body -->

        <div class="card-footer">

          <button class="btn btn-sm  btn-info"
            (click)="export()"><b>Export</b></button> &nbsp;

          
          <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
        </div>
      </form>
    </div>
    <!-- /.card -->

    

  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

</section>
</div>
<app-footernavbar></app-footernavbar>
</div>
