
<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
          <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                  <!-- general form elements -->
                  <div class="card card-primary">
                <div class="card-header">
                      <h3 class="card-title">Create New Penalty Configuration</h3>
                    </div>
                    <form #f="ngForm" name="myForm">
                      <div class="card-body">
                      
          

                          <div class="form-group col-md-8">
                              <div class="row">
                                <div class="col-sm">
                                  
                                  <label for="vendorId" class="required" > Vendor </label><br/>

                                    <p-dropdown filter="true" [options]="selectedvendor"  [ngModelOptions]="{standalone: true}" [(ngModel)]="penaltyConfig.vendorId"  name = "vendorId" id = "vendorId" (onChange) = "getContractList(penaltyConfig.vendorId)"></p-dropdown>
                                   <!-- <input [(ngModel)]="penaltyConfig.vendorId"  placeholder="Vendor Id" name="Vendor Id" class="form-control" id="vendorId">-->
                                 </div >
                                 <div class="col-sm">
                                  <label for="minDowntime" class="required">Min Downtime In Hour</label>
                                    <input maxlength="2" [(ngModel)]="penaltyConfig.minDowntime"  placeholder="Min Downtime" name="minDowntime" class="form-control" id="minDowntime" input (keypress)="numberOnly($event)" type="text">
                                                                        </div>
                              </div>   
                          </div>

                          <div class="form-group col-md-8">
                              <div class="row">
                           <div class="col-sm">
                            <label for="Contract Id" class="required">Contract</label><br/>
                            <p-dropdown *ngIf="!penaltyConfig.configId" [options]="selectedcontract"  [ngModelOptions]="{standalone: true}"  name = "selectedCont" [(ngModel)]="penaltyConfig.contractId"  placeholder="Select Contract" filter="true" ></p-dropdown>          
                            <p-dropdown *ngIf="penaltyConfig.configId" [options]="selectedcontract"  [ngModelOptions]="{standalone: true}"  name = "selectedCont" [(ngModel)]="penaltyConfig.contractId"  placeholder="{{ contractNameSet.get(penaltyConfig.contractId) }}" ></p-dropdown>          
                            
                             </div>
                                 <div class="col-sm">
                                  <label for="maxDowntime"><input name="options" id="option1"  [(ngModel)]="options" type="radio" [value]="true" [checked]="options" (click)="noLimit();"/>No Limit </label>
                                  &nbsp;
                                  <label for="maxDowntime"><input name="options"  [(ngModel)]="options" type="radio" [value]="false" [checked]="options" (click)="withLimit(penaltyConfig.maxDowntime);"/>With Limit </label>
                                
                              <input *ngIf="options"  disabled [(ngModel)]="penaltyConfig.maxDowntime"  placeholder="Max Downtime" name="maxDowntime" class="form-control" id="maxDowntime" maxlength="2" input (keypress)="numberOnly($event)" type="text">
                              <input   *ngIf="!options"  [(ngModel)]="penaltyConfig.maxDowntime"  placeholder="Max Downtime" name="maxDowntime" class="form-control" id="maxDowntime" input (keypress)="numberOnly($event)" type="text">   
                            </div>
                                
                              </div>   
                          </div>
                          <div class="form-group col-md-8">
                            <div class="row">
                              <div class="col-sm">
                                   
                                <label for="condition" >Condition</label><br/>
                                  <p-dropdown [options]="condition"  [ngModelOptions]="{standalone: true}" [(ngModel)]="penaltyConfig.condType"  name = "condition" id = "condition"></p-dropdown>
                              </div>
                              <div class="col-sm">
                                <label for="PenaltyRate" ><input name="Poptions" [(ngModel)]="Poptions" type="radio" [value]="true" [checked]="Poptions"/> Not Applicable </label>
                                  &nbsp;
                                  <label for="PenaltyRate" ><input name="Poptions"  [(ngModel)]="Poptions" type="radio" [value]="false" [checked]="Poptions"/> Applicable </label>
                                
                                <input *ngIf="!Poptions"   [(ngModel)]="penaltyConfig.penaltyRate"  placeholder="Penalty Rate" name="Penalty Rate" class="form-control" id="penaltyRate" maxlength="3" input  (keypress)="numberOnly($event)" type="text" >
                                <input *ngIf="Poptions" disabled  [(ngModel)]="penaltyConfig.penaltyRate"  placeholder="Penalty Rate" name="Penalty Rate" class="form-control" id="penaltyRate" maxlength="3" input (keypress)="numberOnly($event)" type="text" >
                             </div>
                             
            
                            </div>   
                          </div>
                          <div class="form-group col-md-8">
                            <div class="row">
                             
                              <div class="col-sm">

                                <input [(ngModel)]="penaltyConfig.configId" hidden="true"  class="form-control" [ngModelOptions]="{standalone: true}">
                               </div>
            
                            </div>   
                          </div>
                      </div>
                      <!-- /.card-body -->
                      <div class="card-footer">

                        <button class="btn btn-sm  btn-info" *ngIf="!penaltyConfig.configId"
                          (click)="createPenaltyConfig()"><b>Create</b></button>
    
    
                        <button class="btn btn-sm btn-info" *ngIf="penaltyConfig.configId"
                          (click)="updatePenaltyConfig(penaltyConfig)"><b>Update</b></button>&nbsp;
    
                        <button class="btn btn-sm btn-info" *ngIf="penaltyConfig.configId"
                          (click)="deletePenaltyConfig(penaltyConfig)"><b>Delete</b></button>&nbsp;
    
                        <button class="btn btn-sm btn-info"  (click)="reset(f);" ><b>Reset</b></button>
                      </div>
                       
                    </form> 
                   
                  </div>
              </div>
          </div>
          <app-penalty-config></app-penalty-config>
      </div>
      
      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>