<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Notification</h3>
                </div>
                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <input [(ngModel)]="amcNotification.amcNotifId" hidden="true" class="form-control"
                      [ngModelOptions]="{standalone: true}">
                    <div class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="contractId" class="required">Contract Number:</label><br />
                          <p-dropdown  [style]="{'width': '280px'}" filter="true" [options]="selecteContractList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="amcNotification.contractId" name="selecteContractList"> </p-dropdown>

                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="vendorMobile" class="required">Vendor Phone Number:</label>
                          <input type="text" [(ngModel)]="amcNotification.vendorMobile" placeholder="Vendor Mobile Number"
                            name="vendorMobile" class="form-control" id="vendorMobile"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="vendorEmail" class="required">Vendor Email:</label>
                          <input type="text" [(ngModel)]="amcNotification.vendorEmail"
                            placeholder="Vendor Email" name="vendorEmail"
                            class="form-control" id="vendorEmail">
                        </div>
                      </div>
                    </div>

                    <div  class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="gmItMobile" class="required">GM IT Mobile Number:</label>
                          <input type="text" [(ngModel)]="amcNotification.gmItMobile" placeholder="GM IT Mobile Number"
                            name="gmItMobile" class="form-control" id="gmItMobile"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="gmItEmail" class="required">GM IT Email:</label>
                          <input type="text" [(ngModel)]="amcNotification.gmItEmail"
                            placeholder="GM IT Email" name="gmItEmail"
                            class="form-control" id="gmItEmail">
                        </div>
                      </div>
                    </div>
                    <div  class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="dgmItProcMobile" class="required">DGM IT PROC Mobile Number:</label>
                          <input type="text" [(ngModel)]="amcNotification.dgmItProcMobile" placeholder="DGM IT Procurement Mobile Number"
                            name="dgmItProcMobile" class="form-control" id="dgmItProcMobile"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="dgmItProcEmail" class="required">DGM IT PROC Email:</label>
                          <input type="text" [(ngModel)]="amcNotification.dgmItProcEmail"
                            placeholder="DGM IT Procurement Email" name="dgmItProcEmail"
                            class="form-control" id="dgmItProcEmail">
                        </div>
                      </div>
                    </div>
                    <div  class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="dealingOffMobile" class="required">Dealing Office Mobile Number:</label>
                          <input type="text" [(ngModel)]="amcNotification.dealingOffMobile" placeholder="Dealing Office Mobile Number"
                            name="dealingOffMobile" class="form-control" id="dealingOffMobile"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="dealingOffEmail" class="required">Dealing Office Email:</label>
                          <input type="text" [(ngModel)]="amcNotification.dealingOffEmail"
                            placeholder="Dealing Office Email" name="dealingOffEmail"
                            class="form-control" id="dealingOffEmail">
                        </div>
                      </div>
                    </div>
                    <div  class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="agm1ItprocMob" class="required">AGM 1( IT PROC) Mobile Number:</label>
                          <input type="text" [(ngModel)]="amcNotification.agm1ItprocMob" placeholder="AGM 1( IT PROC) Mobile Number"
                            name="agm1ItprocMob" class="form-control" id="agm1ItprocMob"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="agm1ItprocEmail" class="required" >AGM 1( IT PROC) Email:</label>
                          <input type="text" [(ngModel)]="amcNotification.agm1ItprocEmail"
                            placeholder="AGM 1( IT PROC) Email" name="agm1ItprocEmail"
                            class="form-control" id="agm1ItprocEmail">
                        </div>
                      </div>
                    </div>
                    <div  class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="agm2ItprocMob" class="required">AGM 2( IT PROC) Mobile Number:</label>
                          <input type="text" [(ngModel)]="amcNotification.agm2ItprocMob" placeholder="AGM 2( IT PROC) Mobile Number"
                            name="agm2ItprocMob" class="form-control" id="agm2ItprocMob"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="agm2ItprocEmail" class="required" >AGM 2( IT PROC) Email:</label>
                          <input type="text" [(ngModel)]="amcNotification.agm2ItprocEmail"
                            placeholder="AGM 2( IT PROC) Email" name="agm2ItprocEmail"
                            class="form-control" id="agm2ItprocEmail">
                        </div>
                      </div>
                    </div>
                    <div  class="form-group col-md-8">
                      <div class="row">
                        <div class="col-sm">
                          <label for="notifBefore" class="required" >Notify Before (in days) :</label>
                          <input type="text" [(ngModel)]="amcNotification.notifBefore" placeholder="Notify Before"
                            name="notifBefore" class="form-control" id="notifBefore"
                            maxlength="4" (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="notifIntervalDay" class="required">Notification Interval Day:</label>
                          <input type="text" [(ngModel)]="amcNotification.notifIntervalDay" placeholder="Notification Interval Day"
                          name="notifIntervalDay" class="form-control" id="notifIntervalDay"
                          maxlength="2"  (keypress)="numberOnly($event)">
                        </div>
                      </div>
                    </div>
                    <!-- <div  class="form-group col-md-5">
                      <div class="row">
                        <div class="col-sm">
                          <label for="venPhoneNumber">Last Notification Date:</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="amcNotification.lastNotifDate" type="date" placeholder="Last Notification Date" name="tenderDt"
                            class="form-control" id="tenderdt">
                        </div>
                      </div>
                    </div> -->

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info" *ngIf="!amcNotification.amcNotifId"
                      (click)="createVendor()"><b>Create</b></button>

                    <button class="btn btn-sm btn-info" *ngIf="amcNotification.amcNotifId"
                      (click)="update(amcNotification)"><b>Update</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" *ngIf="amcNotification.amcNotifId"
                      (click)="delete(amcNotification)"><b>Delete</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                  </div>
                </form>
                <div id="uploadSpinner" style="display: none;" class="loading-indicator">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                    animationDuration=".5s"></p-progressSpinner>
                </div>

              </div>
            </div>
          </div>
          <app-amc-notification></app-amc-notification>
        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>