<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Contract Info</h3>

                  <div class="row">
                    <div class="col-sm-10">

                      <p-radioButton name="amcslaForm" value="SLA" label="SLA" [(ngModel)]="amcslaForm"></p-radioButton>
                      &nbsp;
                      <p-radioButton name="amcslaForm" value="AMC" label="AMC" [(ngModel)]="amcslaForm"></p-radioButton>
                      &nbsp;
                      <p-radioButton name="amcslaForm" value="conn" label="Connectivity" [(ngModel)]="amcslaForm">
                      </p-radioButton>
                      &nbsp;
                      <p-radioButton name="amcslaForm" value="pur" label="Purchase" [(ngModel)]="amcslaForm">
                      </p-radioButton>
                      &nbsp;
                      <button type="button" title="Mother" *ngIf="contractInfo.refConNo && contractInfo.contId"
                        class="btn btn-info btn-sm" aria-hidden="true"
                        (click)="editContractInfo(contractInfo.refConNo)">
                        {{contractNameSet.get(contractInfo.refConNo)}}
                      </button> &nbsp;


                    </div>
                  </div>
                </div>


                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <div class="form-group col-md-5">
                      <div class="row">
                        <div class="col-sm">


                          <label for="maxDowntime"><input name="options" [(ngModel)]="options" type="radio"
                              [value]="true" [checked]="options" />File upload </label>
                          &nbsp;
                          <label for="maxDowntime"><input name="options" [(ngModel)]="options" type="radio"
                              [value]="false" [checked]="options" />Data entry </label>



                        </div>
                      </div>


                    </div>
                    <div *ngIf="options" disabled class="form-group col-md-5">
                      <label for="exampleInputFile">File input</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" name="files" class="custom-file-input" id="exampleInputFile"
                            accept=".xls,.xlsx" (change)="selectFile($event)">
                          <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose file</label>

                        </div>
                        <!-- <input type="submit" value="Upload"  class="btn btn-info" id="btnSubmit" (click)="upload(this)"/> -->


                      </div>
                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">
                        <input [(ngModel)]="contractInfo.contId" hidden="true" class="form-control"
                          [ngModelOptions]="{standalone: true}">
                        <input [(ngModel)]="contractInfo.moduleId" hidden="true" class="form-control"
                          [ngModelOptions]="{standalone: true}">

                        <div class="col-sm">
                          <label for="Contract Number" class="required">Contract Number</label>
                          <input [(ngModel)]="contractInfo.contNo" placeholder="Contract Number" name="Conta No"
                            class="form-control" id="contractno">
                        </div>

                        <div class="col-sm">
                          <label for="Cont Name">Contract Name</label>
                          <input [(ngModel)]="contractInfo.contName" placeholder="Contract Name" name="Cont Name"
                            class="form-control" id="contname">

                        </div>
                        <div class="col-sm">
                          <label for="contParty">Contract Party</label>
                          <input [(ngModel)]="contractInfo.contParty" placeholder="Contract Party" name="contParty"
                            class="form-control" id="contparty">

                        </div>
                        <div class="col-sm">
                          <label for="contDate">Contract date</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractInfo.contDate" type="date" placeholder="Contract Date" name="contDate"
                            class="form-control" id="contDate">
                        </div>
                      </div>
                    </div>



                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">
                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')|| amcslaForm == 'pur'">
                          <label for="tenderDt" class="required">Tender Date</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractInfo.tenderDt" type="date" placeholder="Tender Date" name="tenderDt"
                            class="form-control" id="tenderdt">
                        </div>

                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')|| amcslaForm == 'pur'">
                          <label for="tenderNo">Tender Number</label>
                          <input [(ngModel)]="contractInfo.tenderNo" placeholder="Tender Number" name="tenderNo"
                            class="form-control" id="tenderno">

                        </div>
                        <div class="col-sm-6">
                          <label for="commDate" *ngIf="(amcslaForm == 'conn')|| amcslaForm == 'pur'"
                            class="required">Commisioning Date</label>
                          <label for="commDate" *ngIf="(amcslaForm == 'SLA')|| amcslaForm == 'AMC'">Commisioning
                            Date</label>
                          <input max="9999-12-31" min={{contractInfo.tenderDt}} maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractInfo.commDate" type="date" placeholder="Commisioning Date"
                            name="commDate" class="form-control" id="commDate">
                        </div>

                        <div class="col-sm" *ngIf="(amcslaForm == 'SLA')">
                          <label for="totalCharge" class="required">Total Dc Dr Connectivity</label>
                          <input [(ngModel)]="contractInfo.totalDcDrConnectivity" placeholder="total Dc Dr Connectivity"
                            name="total Dc Dr Connectivity" class="form-control" id="totalDcDrConnectivity" input
                            (keypress)="numberOnly($event)" type="text">

                        </div>


                      </div>
                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">

                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')|| amcslaForm == 'pur'">
                          <label for="warrantyPeriod" class="required">Warranty Period</label>
                          <input [(ngModel)]="contractInfo.warrantyPeriod" maxlength="5"
                            placeholder="Warranty Period (in month)" name="warrantyPeriod" class="form-control"
                            id="warrantyPeriod" (keypress)="numberOnly($event)">
                        </div>

                        <div class="col-sm">
                          <label for="contValidStart" class="required">Contract start date</label>
                          <input min={{contractInfo.tenderDt}} max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="contractInfo.contValidStart" type="date" placeholder="Cont Valid Start"
                            name="contValidStart" class="form-control" id="contvalidstart">
                        </div>

                        <div class="col-sm">
                          <label for="contValidEnd" class="required">Contract Validity End</label>
                          <input min={{contractInfo.contValidStart}} max="9999-12-31" maxlength="4"
                            pattern="[1-9][0-9]{3}" [(ngModel)]="contractInfo.contValidEnd" type="date"
                            placeholder="Contract Validity End" name="contValidEnd" class="form-control"
                            id="contvalidend">
                        </div>
                      </div>

                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">

                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')|| amcslaForm == 'pur'">
                          <label for="performReportDt" class="required">Performance Report (Date)</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="contractInfo.performReportDt" type="date" placeholder="Performance Report (Date)" name="performReportDt"
                          class="form-control" id="performReportDt">

                        </div>
                        <div class="col-sm">
                          <label for="inspectReportDt" class="required">Inspection Report (Date)</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="contractInfo.inspectReportDt" type="date" placeholder="Performance Report (Date)" name="inspectReportDt"
                          class="form-control" id="inspectReportDt">
                        </div>
                       
                      </div>

                    </div>



                    <!-- <div *ngIf="!options" disabled class="form-group col-md-10">
                                 <div class="row">
                                    <div class="col-sm">
                                       <label for="Total Month">Total Month</label>
                                       <input [(ngModel)]="contractInfo.totalMonth"  placeholder="Total Month" name="Total Month" class="form-control" id="totalMonth" input (keypress)="numberOnly($event)" type="text">
                                    
                                    </div>
                                      <div class="col-sm">
                                       <label for="tenderNo">Monthly Charge</label>
                                       <input [(ngModel)]="contractInfo.monthlyCharge"  placeholder="Monthly Charge" name="tenderNo" class="form-control" id="monthlyCharge" input (keypress)="numberOnly($event)" type="text">
                                    
                                      </div>
                                   <div class="col-sm">
                                    <label for="totalCharge">Total charge</label>
                                    <input [(ngModel)]="contractInfo.totalCharge"  placeholder="Total charge" name="totalCharge" class="form-control" id="totalCharge" input (keypress)="numberOnly($event)" type="text">
                                
                                 </div>
                                   
                                 </div>
                               </div> -->

                    <!-- <div class="col-sm">
                                <label for="type" class="control-label" class="required" name="selectType" >Type</label><br/>
                                 <p-dropdown [style]="{'width': '313px'}" [options]="selectType"  [ngModelOptions]="{standalone: true}" [(ngModel)]="contractInfo.type"  name = "type" id = "type"></p-dropdown>

                               </div> -->

                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">
                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')">
                          <label for="tenderNo">Total Atm</label>
                          <input [(ngModel)]="contractInfo.totalAtm" placeholder="Total Atm" name="Total Atm"
                            class="form-control" id="totalAtm" input (keypress)="numberOnly($event)" type="text">

                        </div>
                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')">
                          <label for="totalCharge" class="required">Total Dc Dr Connectivity</label>
                          <input [(ngModel)]="contractInfo.totalDcDrConnectivity" placeholder="total Dc Dr Connectivity"
                            name="total Dc Dr Connectivity" class="form-control" id="totalDcDrConnectivity" input
                            (keypress)="numberOnly($event)" type="text">

                        </div>
                        <div class="col-sm" *ngIf="(amcslaForm == 'conn')">
                          <label for="totalBr">Total Branch</label>
                          <input [(ngModel)]="contractInfo.totalBr" placeholder="Total Branch" name="Total Br"
                            class="form-control" id="totalBr" input (keypress)="numberOnly($event)" type="text">

                        </div>
                      </div>
                    </div>



                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">

                        <div class="col-sm">
                          <label for="venId" class="required">Vendor</label><br>
                          <p-dropdown filter=true [style]="{'width': '320px'}" [options]="selectedvendor"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="contractInfo.venId"
                            name="contractInfo.venId" id="contractInfo.venId"></p-dropdown>

                        </div>
                        <div class="col-sm">
                          <label for="serviceTypeId" class="required" name="selectservicetype">Service</label><br />

                          <p-dropdown [style]="{'width': '320px'}" [options]="selectservicetype"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="contractInfo.serviceTypeId"
                            name="Service type Id" id="serviceTypeId"></p-dropdown>

                        </div>
                        <div class="col-sm" hidden>
                          <label for="status" class="control-label" class="required"
                            name="selectstatus">Status</label><br />
                          <p-dropdown [style]="{'width': '313px'}" [options]="status"
                            [ngModelOptions]="{standalone: true}" [(ngModel)]="contractInfo.status" name="status"
                            id="status"></p-dropdown>

                        </div>

                      </div>


                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">
                        <div class="col-sm">
                          <label for="totalCharge" class="required">Total charge</label>
                          <input [(ngModel)]="contractInfo.totalCharge" placeholder="Total charge" name="totalCharge"
                            class="form-control" id="totalCharge" maxlength="10" (keypress)="numberOnly($event)"
                            type="text">

                        </div>
                        <div class="col-sm">
                          <label for="vat">Vat</label>
                          <input [(ngModel)]="contractInfo.vat" placeholder="Vat" name="Vat" class="form-control"
                            id="Vat" maxlength="3" (keypress)="numberOnly($event)" type="text">

                        </div>
                        <!-- <div class="col-sm">
                                    <label for="tax">Tax</label>
                                    <input [(ngModel)]="contractInfo.tax"  placeholder="Tax" name="Tax" class="form-control" id="Tax" input (keypress)="numberOnly($event)" type="text">
                                 
                                  </div> -->

                        <input max="9999-12-31" hidden="true" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="contractInfo.renewDate" type="date" placeholder="Renew Date" name="renDate"
                          class="form-control" id="renDate">
                        <!-- <input [(ngModel)]="contractInfo.renewDate" hidden="true"   class="form-control" [ngModelOptions]="{standalone: true}"> -->

                      </div>


                    </div>

                    <div *ngIf="!options" disabled class="form-group col-md-10">
                      <div class="row">


                        <div class="col-sm">
                          <label for="remarks">Remarks</label>
                          <textarea [(ngModel)]="contractInfo.remarks" placeholder="Remarks" name="remarks"
                            class="form-control" id="remarks"></textarea>

                        </div>
                      </div>
                    </div>

                    <!-- <div *ngIf="this.renew"  class="form-group col-sm">
                                <div class="row">
                                   <div class="col-sm">
                                    <label for="renDate" class="required">Renew Date</label>
                                    <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}" [(ngModel)]="contractInfo.renewDate" type = "date" placeholder="Renew Date" name="renDate" class="form-control" id="renDate" >
                                 </div>
                                  
                                   </div>
                                   </div> -->

                    <p-dialog header="Renew" [(visible)]="displayBasic2" [style]="{width: '60%'}">
                      <br>
                      <!-- <div class="row">  -->
                      <div class="col-sm">
                        <label for=" RefCon" class="required">Reference Contract Number</label><br />
                        <p-dropdown appendTo="body" [options]="selecteContractList"
                          [ngModelOptions]="{standalone: true}" filter="true" [(ngModel)]="contractInfo.refConNo"
                          name="selecteContractList"> </p-dropdown>

                      </div>
                      <!-- <p-dropdown appendTo="body" [style]="{'width':'100%'}" [options]="selecteContractList" [(ngModel)]="contractInfo.refConNo" filter="true">
                          <ng-template let-item pTemplate="selectedItem">
                              <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                          </ng-template>
                      </p-dropdown> -->

                      <p-footer>
                        <button type="button" pButton icon="pi pi-check" aria-hidden="true"
                          (click)="renewContractInfo(contractInfo)" label="Yes"></button>
                        <button type="button" pButton icon="pi pi-times" (click)="displayBasic2=false" label="No"
                          class="ui-button-secondary"></button>

                      </p-footer>
                    </p-dialog>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info"
                      *ngIf="!contractInfo.contId && !options && (amcslaForm=='conn'||amcslaForm=='pur')"
                      (click)="createContractInfo()"><b>Create</b></button>

                    <button *ngIf="options" type="submit" class="btn btn-sm btn-info" id="btnSubmit" (click)="upload()">
                      <b>Upload</b></button>

                    <button class="btn btn-sm btn-info"
                      *ngIf="contractInfo.contId && !options && contractInfo.status!='CLS' "
                      (click)="updateContractInfo(contractInfo) "><b>Update</b></button>&nbsp;
                    <!-- <button class="btn btn-sm btn-info" *ngIf="contractInfo.contId && !options"
                             (click)="deleteContractInfo(contractInfo)"><b>Delete</b></button>&nbsp; -->


                    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
                    <button *ngIf="contractInfo.contId && !options && contractInfo.status!='CLS' " type="button"
                      class="btn btn-danger btn-sm" (click)="close()">
                      <!-- {{contractInfo.contId}} -->
                      <b>Close</b>
                    </button>&nbsp;
                    <button
                      *ngIf="!contractInfo.contId && !options  && (amcslaForm=='SLA'||amcslaForm=='AMC') && contractInfo.status!='CLS' "
                      type="button" class="btn btn-danger btn-sm" (click)="showModalDialog(contractInfo)">
                      <!-- {{contractInfo.contId}} -->
                      <b>Renew</b>
                    </button>&nbsp;
                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                    &nbsp;
                    <ng-container *ngIf="contractWithChild.get(contractInfo.contId)">
                      <button style="margin-right:20px" type="button" title="Child"
                        *ngFor="let descr of splitDescription(contractWithChild.get(contractInfo.contId))"
                        class="btn btn-danger btn-sm" aria-hidden="true" (click)="editContractInfo(descr)">
                        {{contractNameSet.get(descr)}}

                      </button>

                    </ng-container>
                    <!-- <span *ngIf="contractWithChild.get(contractInfo.contId)" *ngFor="let descr of splitDescription(contractWithChild.get(contractInfo.contId))">
                             {{descr}}
                            <button  type="button" title="Child"  class="btn btn-danger btn-sm" aria-hidden="true" (click)="editContractInfo(descr)">
                              {{contractNameSet.get(descr)}}
                             </button> 
                            </span> -->

                  </div>

                </form>

              </div>
            </div>
          </div>
          <app-contract-info></app-contract-info>
        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>