<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert Model Inforamtion</h3>
                  </div>

                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-3">
                          <div class="row">
                            <div class="col-sm">
                                <label for="modelName"> Model Name:</label><br>
                                <input type="text"  [(ngModel)]="modelInfo.modelName" placeholder="Model Name" name="modelName" class="form-control" id="modelName">    
                            </div>
                          </div> 
                        </div>

                        <div class="form-group col-md-3">
                          <div class="row"> 
                            <div class="col-sm">
                                <label for="warrantyInMonth">Warranty(In month)</label><br>
                                <input type="text" maxlength="5" (keypress)="numberOnly($event)" [(ngModel)]="modelInfo.warrantyInMonth" placeholder=" Warranty" name="warrantyInMonth" class="form-control" id="warrantyInMonth">
                              
                                
                            </div>
                          </div>   
                        </div>

                        <div class="form-group col-md-6">
                            <div class="row">
                              <div class="col-sm">
                                <label for="category" class='required'>Brand:</label><br>
                              <p-dropdown filter=true [style]="{'width': '285px'}" [options]="selectedBrand" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="modelInfo.brandId" name="selectedBrand"> </p-dropdown>  
                              </div>
                            </div>   
                          </div>

                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!modelInfo.modelId"  (click)="createModel()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="modelInfo.modelId" (click)="updateModel(modelInfo) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="modelInfo.modelId" (click)="deleteModel(modelInfo)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>


                </div>
            </div>
        </div>
        <app-model-list></app-model-list>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>

