<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Contract Security Money</h3>
                </div>
                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <input [(ngModel)]="ContSecurityMoney.contSecurityId" hidden="true" class="form-control"
                      [ngModelOptions]="{standalone: true}">
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="contractId" class="required">Contract Number:</label><br />
                          <p-dropdown [style]="{'width': '285px'}" filter="true" [options]="selecteContractList" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="ContSecurityMoney.contId" name="selecteContractList"> </p-dropdown>

                        </div>
                        <div class="col-sm">
                          <label for="itemId" class="required">Security Type:</label><br />
                          <p-dropdown [style]="{'width': '284px'}" [options]="securityType" [ngModelOptions]="{standalone: true}"
                          [(ngModel)]="ContSecurityMoney.securityType" name="securityType"> </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="issueBank" class="required">Issue Bank:</label>
                          <input type="text" [(ngModel)]="ContSecurityMoney.issueBank" placeholder="Issue Bank"
                            name="issueBank" class="form-control" id="issueBank">
                        </div>
                        <div class="col-sm">
                          <label for="issueBranch" class="required">Issue Branch:</label>
                          <input type="text" [(ngModel)]="ContSecurityMoney.issueBranch" placeholder="Issue Branch"
                            name="issueBranch" class="form-control" id="issueBranch">
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="itemQuantity" class="required">Issue Amount:</label>
                          <input type="text" [(ngModel)]="ContSecurityMoney.issueAmount" placeholder="Item Qantity"
                            name="itemQuantity" class="form-control" id="itemQuantity"
                            (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="issueDate" class="required">Issue Date:</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="ContSecurityMoney.issueDate" type="date" placeholder="Issue Date" name="issueDate"
                            class="form-control" id="issueDate">
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="periodSecurity" class="required">Period Security:</label>
                          <input type="text" [(ngModel)]="ContSecurityMoney.periodSecurity" placeholder="Period Security"
                            name="periodSecurity" class="form-control" id="periodSecurity"
                            (keypress)="numberOnly($event)">
                        </div>
                        <div class="col-sm">
                          <label for="returnDate" class="required">Return Date:</label>
                          <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                            [(ngModel)]="ContSecurityMoney.returnDate" type="date" placeholder="Return Date" name="returnDate"
                            class="form-control" id="returnDate">
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info" *ngIf="!ContSecurityMoney.contSecurityId"
                      (click)="create()"><b>Create</b></button>

                    <button class="btn btn-sm btn-info" *ngIf="ContSecurityMoney.contSecurityId"
                      (click)="update(ContSecurityMoney)"><b>Update</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" *ngIf="ContSecurityMoney.contSecurityId"
                      (click)="delete(ContSecurityMoney)"><b>Delete</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                  </div>
                </form>
                <div id="uploadSpinner" style="display: none;" class="loading-indicator">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                    animationDuration=".5s"></p-progressSpinner>
                </div>

              </div>
            </div>
          </div>
          <app-cont-securitymoney></app-cont-securitymoney>
        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>