<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Create New Vendor</h3>
                </div>
                <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                  <div class="card-body">
                    <div class="form-group col-md-5">
                      <div class="row">
                        <div class="col-sm">
                          <label for="maxDowntime"><input name="options" [(ngModel)]="options" type="radio"
                              [value]="true" [checked]="options" />File upload </label>
                          &nbsp;
                          <label for="maxDowntime"><input name="options" [(ngModel)]="options" type="radio"
                              [value]="false" [checked]="options" />Data entry </label>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="options" disabled class="form-group col-md-5">
                      <label for="exampleInputFile">File input</label>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" name="files" class="custom-file-input" id="exampleInputFile"
                            accept=".xls,.xlsx" (change)="selectFile($event)">
                          <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose file</label>

                        </div>
                        <!-- <input type="submit" value="Upload"  class="btn btn-info" id="btnSubmit" (click)="upload(this)"/> -->

                      </div>
                    </div>
                    <div *ngIf="!options" class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="vendorname" class="required">Vendor Name:</label>
                          <input type="text" [(ngModel)]="vendor.venName" placeholder="Vendor Name" name="vendorName"
                            class="form-control" id="vendorname">
                        </div>
                        <div class="col-sm">
                          <label for="venPhoneNumber">Vendor Phone Number:</label>
                          <input type="number" [(ngModel)]="vendor.venPhoneNumber" placeholder="Vendor Phone Number"
                            name="vendorphonenumber" class="form-control" id="vendorphonenumber"
                            maxlength="11" (keypress)="numberOnly($event)">
                        </div>
                        
                      </div>
                    </div>

                   

                    <div *ngIf="!options" class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="vendortradelicensenumber" class="required">Vendor Trade License Number:</label>
                          <input type="text" [(ngModel)]="vendor.venTradeLicenseNo"
                            placeholder="Vendor Trade License Number" name="vendortradelicensenumber"
                            maxlength="50" class="form-control" id="vendortradelicensenumber">
                        </div>
                        <div class="col-sm">
                          <label for="vendortinnumber">Vendor TIN Number:</label>
                          <input type="number" [(ngModel)]="vendor.venTinNo" placeholder="Vendor TIN Number"
                            name="vendortinnumber" class="form-control" id="vendortinnumber"
                            maxlength="20" (keypress)="numberOnly($event)" type="text">
                        </div>
                        
                        
                      </div>
                    </div>

                    <div *ngIf="!options" class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="vendoradd">Vendor Address:</label>
                          <textarea type="text" [(ngModel)]="vendor.venAdd" placeholder="Vendor Address" name="vendoradd"
                            class="form-control" id="vendoradd"></textarea>
                        </div>
                       
                      </div>
                    </div>
                    <div *ngIf="!options" class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="vendorTypeId" class="required">Vendor Type:</label><br />
                          <!--<input type="text" [(ngModel)]="vendor.venTypeId" placeholder="Vendor Type ID" name="vendorTypeId" class="form-control" id="vendortyeid">-->
                          <p-dropdown  [style]="{'width': '285px'}" [options]="selectedvendortype" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="vendor.venTypeId" name="selectedvendortype"> </p-dropdown>
                        </div>
                        <div class="col-sm">
                          <label for="serviceTypeId" class="required">Service Type:</label><br />
                          <!--<input type="text" [(ngModel)]="vendor.serviceTypeId" placeholder="Service Type ID" name="servicetypeid" class="form-control" id="servicetypeid">-->
                          <p-dropdown [style]="{'width': '284px'}" [options]="selectservicetype" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="vendor.serviceTypeId" name="selectservicetype"> </p-dropdown>
                        </div>
                      </div>
                    </div>
                    <!-- ADDED 05/11/23-->
                    <div *ngIf="!options" class="form-group col-md-6">
                      <div class="row">
                        <div class="col-sm">
                          <label for="vendorTypeId" class="required">Bin No:</label><br />
                          <!--<input type="text" [(ngModel)]="vendor.venTypeId" placeholder="Vendor Type ID" name="vendorTypeId" class="form-control" id="vendortyeid">-->
                          <input type="text" [(ngModel)]="vendor.bin_no"
                            placeholder="Bin No" name="Bin No"
                            maxlength="50" class="form-control" id="vendortradelicensenumber">
                        </div>
                      </div>
                    </div>
                    <!--<div class="form-group col-md-10">
                                <div class="row">
                                  <div class="col-sm">
                                    <label for="userid">User ID:</label>
                                    <input type="text" [(ngModel)]="vendor.userId" placeholder="User ID" name="userid" class="form-control" id="userid">
                                   </div>
                                   <div class="col-sm">
                                    <label for="userid">User ID:</label>
                                    <input type="text" [(ngModel)]="vendor.userId" placeholder="User ID" name="userid" class="form-control" id="userid">
                                   </div>
                                </div>   
                              </div>-->
                    <!--<div class="form-group col-md-10">
                                <div class="row">
                                  <div class="col-sm">
                                      <label for="machineip">Machine IP:</label>
                                      <input type="text" [(ngModel)]="vendor.machineIp" placeholder="Machine IP" name="machineip" class="form-control" id="machineip">
                                   </div>
                                   <div class="col-sm">
                                      
                                   </div>
                                </div>   
                            </div>-->



                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">

                    <button class="btn btn-sm  btn-info" *ngIf="!vendor.venId && !options"
                      (click)="createVendor()"><b>Create</b></button>

                    <button *ngIf="options" type="submit" class="btn btn-sm btn-info" id="btnSubmit" (click)="upload()">
                      <b>Upload</b></button>

                    <button class="btn btn-sm btn-info" *ngIf="vendor.venId && !options"
                      (click)="update(vendor)"><b>Update</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" *ngIf="vendor.venId && !options"
                      (click)="delete(vendor)"><b>Delete</b></button>&nbsp;

                    <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                  </div>
                </form>
                <div id="uploadSpinner" style="display: none;" class="loading-indicator">
                  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE"
                    animationDuration=".5s"></p-progressSpinner>
                </div>

              </div>
            </div>
          </div>
          <app-vendor-info></app-vendor-info>

        </div>

      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>