
<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
        <h2>Page Not Found</h2>
        <p>We couldn't find that page! Not even with x-ray vision.</p>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>