<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Bill Authorization</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">

                        <div class="form-group col-md-6">
                          
                            <div class="row">
                              <div class="col-sm">
                                <label for="billEntry">Bill Entry:</label> &nbsp;
                                <span style="color:#138496; font-weight:bold" *ngIf="contTran.bill_tran_id">{{contTran.entry_id}}</span>
                                    <p-dropdown *ngIf="!contTran.bill_tran_id"  [style]="{'width': '285px'}" [options]="selecteEntry" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="contTran.entry_id" name="billEntry"  (onChange) = "getValuesByEntry(contTran.entry_id)"> </p-dropdown>  
                              </div>
                              
                            </div>   
                          </div>
                          <div style="width: 100%; overflow: hidden;" class='row'  >

                          <div *ngIf="contTran.entry_id" style=" float: left;" class="col callout callout-info form-group col-md-6">
                            <div class="row">
                              <div class="col-sm">
                                <label for="contId">Bill NO.:</label>
                                {{contTran.bill_no}}
                                 </div>
                                </div>
                                <div class="row">
                              <div class="col-sm">
                                <label for="contId">Contract ID:</label>
                                {{contTran.cont_id}}
                                 </div>
                                </div>
                                <div class="row">
                              <div class="col-sm">
                                <label for="partialFull"> Bill Partial/Full:</label>
                                {{contTran.bill_part_full}} </div>
                            </div>   
                           
                                <div class="row">
                              <div class="col-sm">
                                <label for="billDate">Bill Date:</label>
                                {{contTran.bill_date==null?'':contTran.bill_date.toString().substring(0,10)}}
                                </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm">
                                  <label for="billPeriod">Bill Period:</label>
                                 
                                {{contTran.bill_period_start}}+" to "+{{contTran.bill_period_end}}
                              </div>
                            </div>  
                            <div class="row">
                              <div class="col-sm">
                                <label for="currentBill">Current Bill:</label>
                                {{contTran.current_bill}}
                              </div>
                              </div> 
                              <div class="row">
                                <div class="col-sm">
                                  <label for="itemId">Items</label>
                                  <ul>
                                     <li *ngFor="let item of selecteItemIdList">
                                       {{ item }}
                                     </li>
                                   </ul>
                                   </div>
                                  </div>
                                  
                          </div>

                          <div *ngIf="contTran.entry_id" style="margin-left: 20px;" class="col callout callout-info form-group col-md-6">
                            <div class="row">
                              <div class="col-sm">
                                <label >Penalty</label>
                                {{contTran.penalty}}
                                 </div>
                                </div>
                                <div class="row">
                              <div class="col-sm">
                                <label>Charge Head</label>
                                {{contTran.chg_head}}
                                 </div>
                                </div>
                                <div class="row">
                              <div class="col-sm">
                                <label> Contact No.:</label>
                                {{contTran.contract_no}} </div>
                            </div>   
                           
                                <div class="row">
                              <div class="col-sm">
                                <label >Reference No.</label>
                                {{contTran.reference_no}}
                                </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm">
                                  <label >Reference Date:</label>
                                 
                                {{contTran.reference_date==null?'':contTran.reference_date.toString().substring(0,10)}}
                              </div>
                            </div>  
                            <div class="row">
                              <div class="col-sm">
                                <label >Next Bill Date:</label>
                                {{contTran.next_bill_date==null?'':contTran.next_bill_date.toString().substring(0,10)}}
                              </div>
                              </div> 

                              <div class="row">
                                <div class="col-sm">
                                  <label >Narration:</label>
                                  {{contTran.narration}}
                                </div>
                                </div> 
                              
                                  
                          </div>
                        

                        </div>
                          

                          

                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="contTran.bill_tran_id" (click)="billTranAuth(contTran)"><b>Authorize</b></button>&nbsp;
                            <!-- <button class="btn btn-sm btn-info" *ngIf="contTran.bill_tran_id" (click)="updateContBillTran(contTran) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contTran.bill_tran_id" (click)="deleteContBillTran(contTran)"><b>Delete</b></button>&nbsp; -->
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>


                </div>
            </div>
        </div>
       <!-- <app-contbilltran-info></app-contbilltran-info> -->
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>

