<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                   Budget Allocation
                </div>

                <div class="card-body">

                  <div class="section_bar">
                    Sectorwise Fund Allocation
                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">


                     
                      
                      <div class="col-sm">
                        <label for="venId" class="required">Sector</label><br>
                        <p-dropdown filter=true  [style]="{'width': '285px'}" [options]="sectorList"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetAllocation.sectorId" 
                          name="sectorId" id="sectorId"></p-dropdown>
                      </div>

                      

                      <div class="col-sm">
                        <label for="contract" class="required">Year</label><br>

                        <p-dropdown id="cont_id" [style]="{'width': '285px'}" [options]="yearList" filter="true"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetAllocation.year"
                          name="contract" placeholder="Select"> </p-dropdown>


                      </div>


                      <div class="col-sm">
                        <label for="contract" class="required">Amount</label><br>
                        <input type="text" [(ngModel)]="budgetAllocation.amount" placeholder="Alloted Amount"
                          name="bill_amount" (ngModelChange)="setBillAmountWords(this.budgetAllocation.amount)"
                          class="form-control" id="bill_amount">
                      </div>
                    </div>

                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-sm">
                        <label for="invoice_no">In Word</label><br>
                        <textarea [readonly]="true" [(ngModel)]="budgetAllocation.amount_in_words"
                          placeholder="Amount In Words" name="amount_in_words" class="form-control"
                          id="amount_in_words"></textarea>
                      </div>

                      


                    </div>
                  </div>


                
                </div>
                <div class="card-footer">
                  <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                  <tr>
                    <div style="float:left; padding: 10px;">
                      <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                      <button *ngIf="!this.budgetAllocation.isEdit" class="btn btn-sm  btn-info"
                        (click)="saveBudgetAllocationEntry(this.budgetAllocation)"><b>Create</b></button>&nbsp;
                     
                    </div>
                  </tr>

                </div>
              </div>
            </div>

            <app-budgetAllocationInfo></app-budgetAllocationInfo>
          </div>
        </div>
      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>