.section_bar{

    background-color: #343A40;
    height: 24px;
    width: 100%;
    text-align: center;
    /* margin: 10px; */
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
}

.card-header{

    background-color: #343A40;
    height: 48px;
    width: 100%;
    text-align: center;
    /* margin: 10px; */
    color: white;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 20px;
}

.row{

    display: flex; 
    flex-direction: row; 
    align-items: center;

}
