<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
        <h1 style="color:red;">Please contact to the Admin to assign your role</h1>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>