<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert Item</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      
                        <div class="form-group col-md-3">
                          <div class="row">
                            <div class="col-sm">
                                <label for="shortName"> Item Name:</label><br>
                                <input type="text" [(ngModel)]="subItemType.itemName" placeholder="Item Name" name="itemName" class="form-control" id="itemName">    
                            </div>
                          </div>   
                        </div>

                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                              <label for="category" class="required">Site:</label><br>
                              <p-dropdown filter=true [style]="{'width': '285px'}" [options]="selectedTypeId" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="subItemType.typeId" name="selectedTypeId"> </p-dropdown>    
                            </div>
                          </div>   
                        </div>

                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!subItemType.itemId" (click)="createSubItemType()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="subItemType.itemId" (click)="updateSubItemType(subItemType) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="subItemType.itemId" (click)="deleteSubItemType(subItemType)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>

                </div>
            </div>
        </div>
        <app-sub-item-type-info></app-sub-item-type-info>
    </div>
        
</section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>


