<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p-table #penConId [columns]="cols" [value]="penaltyConfigs" [paginator]="true" [rows]="5" sortField="configId" sortOrder="-1" >
            <ng-template pTemplate="caption">
               Penalty configuration Data
            </ng-template>  
          <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}} 
                        <span class="p-input-icon-right">
                          <i class="pi pi-search"></i>
                        <input  pInputText type="text" style="width: 100%;"
                        (input)="penConId.filter($event.target.value, col.field, 'contains')" />
                      </span>
                    </th>
                    <th >
                      Edit
                  </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-penaltyConfig let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns"  >
                        <!-- {{ penaltyConfig[col.field]}} -->
                        <div>{{penaltyConfig[col.field] === -1 ? '&infin;' : penaltyConfig[col.field] }}</div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" aria-hidden="true" (click)="editPenaltyConfig(penaltyConfig)">
                            <span class="fas fa-edit" aria-hidden="true"></span> 
                          </button>
                        </td>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns.length">
                        No records found
                    </td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
        </div>
      </div>
  </div>
</div>