<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                  <div class="card-header">
                        <h3 class="card-title">Insert contract bill tax Information</h3>
                  </div>
                  <form #f="ngForm" name="myForm">
                    <div class="card-body">
                      <div class="form-group col-md-4">
                        <div class="row">
                          <div class="col-sm">
                              <label for="min"> Min Amount:</label><br>
                              <input type="number" [(ngModel)]="contTax.min_amt" placeholder="Enter Min Amount" name="min" class="form-control" id="min">    
                          </div>
                        </div>   
                      </div>

                      <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                                <label for="max">  Max Amount: (-1 for infinity)</label><br>
                                <input type="number" [(ngModel)]="contTax.max_amt" placeholder="Enter Max Amount" name="max" class="form-control" id="max">    
                            </div>
                          </div>   
                        </div>
                        <div class="form-group col-md-4">
                          <div class="row">
                            <div class="col-sm">
                                <label for="taxRate"> input tax rate:</label><br>
                                <input type="number" [(ngModel)]="contTax.cont_tax_rate" placeholder="Enter tax rate" name="taxRate" class="form-control" id="taxRate">    
                            </div>
                          </div>   
                        </div>

                        <div class="form-group col-md-4">
                            <div class="row">
                              <div class="col-sm">
                                  <label for="fiscalYear"> fiscal year:</label><br>
                                  <input type="text" [(ngModel)]="contTax.fiscal_year" placeholder="Enter fiscal year" name="fiscalYear" class="form-control" id="fiscalYear">    
                              </div>
                            </div>   
                          </div>

                    </div>
                    <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                        <tr>
                          <div style="float:left; padding: 10px;">
                            <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                           <button class="btn btn-sm  btn-info" *ngIf="!contTax.cont_tax_id" (click)="createContBillTax()"><b>Create</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contTax.cont_tax_id" (click)="updateContBillTax(contTax) "><b>Update</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" *ngIf="contTax.cont_tax_id" (click)="deleteContBillTax(contTax)"><b>Delete</b></button>&nbsp;
                            <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                          </div>
                          
                          
                        </tr>
                        
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <app-contractbilltaxinfo></app-contractbilltaxinfo>
    </div>
  </section>
</section>
</div>
<app-footernavbar></app-footernavbar>
</div>