<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>DataTables</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Downtime Report</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
    </section>
      <section class="content">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Downtime Data </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <p-table [columns]="cols" [value]="downtimeList" [paginator]="true" [rows]="5" >
                          <ng-template pTemplate="caption">
                             Downtime Data
                          </ng-template>  
                        <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th *ngFor="let col of columns">
                                      {{col.header}}
                                  </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-downtime let-columns="columns">
                              <tr>
                                  <td *ngFor="let col of columns"  >
                                      <!-- {{ col.dateField ? (downtime[col.field] | date: 'dd/MM/yyyy h:mm:ss') : downtime[col.field]}} -->
                                      <div *ngIf="col.field === 'vendor'">{{ vendorNameSet.get(downtime[col.field]) }}</div>
                                      <div *ngIf="col.field !== 'vendor'">{{ col.dateField ? (downtime[col.field] | date: 'dd/MM/yyyy h:mm:ss') : downtime[col.field] }}</div>
                                  </td>
                                  
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage" let-columns>
                              <tr>
                                  <td [attr.colspan]="columns.length">
                                      No records found
                                  </td>
                              </tr>
                          </ng-template>
                      </p-table>
                    
                  </div>
                  <!-- /.card-body -->
                  <form role="form"  #f="ngForm" name="myForm"  id="myForm" >
                      <div class="card-body">
                        <div class="form-group col-md-10">
                          <div class="row">
                            <div class="col-sm">
                              <label for="DownId" class="control-label">Down ID.</label>
                              <input type="number" class="form-control" id="DownId" placeholder="DOWNID" name="DownId" [(ngModel)]="DowntimeCalcRepo.id" >
                             </div>
                             <div class="col-sm">
                              <label for="vendor" class="control-label">Vendor Name</label>
                              <input type="text" class="form-control" id="vendorName" placeholder="Vendor Name" name="vendorName" [(ngModel)]="DowntimeCalcRepo.vendor" >
                             </div>
                          </div>   
                        </div> 
                        <div class="form-group col-md-10">
                          <div class="row">
                            <div class="col-sm">
                              <label for="fromDownDate" class="control-label">From down date</label>
                              <input type="date" class="form-control" id="fromDownDate" placeholder="From Down Date" name="fromDownDate" [(ngModel)]="DowntimeCalcRepo.fromDate" >
                             </div>
                             <div class="col-sm">
                              <label for="vendor" class="control-label">To Down Date</label>
                              <input type="date" class="form-control" id="toDownDate" placeholder="To Down Date" name="toDownDate" [(ngModel)]="DowntimeCalcRepo.toDate" >
                             </div>
                          </div>   
                        </div>                         
                      </div>
                      <!-- /.card-body -->
      
                       <div class="card-footer"> 
                          <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                            <input type="submit" value="Export"  class="btn btn-info" id="btnSubmit" (click)="export()"/>
                      </div>
                    </form> 
                </div>
                <!-- /.card -->

                
      
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
      
      </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>

