<div class="wrapper">

  <app-topnavbar></app-topnavbar>

  <app-asidenavbar></app-asidenavbar>

  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                   Budget Master
                </div>

                <div class="card-body">

                  <div class="section_bar">
                    CAD Fund Allocation
                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      
                      <div class="col-sm">
                        <label for="invoice_date" class="required">Date</label><br>
                        <!-- <input type="text"  [(ngModel)]="budgetBillEntry.invoice_dt" placeholder="Bill Number" name="billNumber" class="form-control" id="billNumber">
                         -->
                        <input max="9999-12-31" maxlength="4" pattern="[1-9][0-9]{3}"
                          [(ngModel)]="budgetMaster.amountAllocationDate" type="date" placeholder="Date"
                          name="invoice_date" class="form-control" id="invoice_date">
                      </div>

                      

                      <div class="col-sm">
                        <label for="contract" class="required">Year</label><br>

                        <p-dropdown id="cont_id" [style]="{'width': '285px'}" [options]="yearList" filter="true"
                          [ngModelOptions]="{standalone: true}" [(ngModel)]="budgetMaster.year"
                          name="contract" placeholder="Select"> </p-dropdown>


                      </div>


                      <div class="col-sm">
                        <label for="contract" class="required">Amount</label><br>
                        <input type="text" [(ngModel)]="budgetMaster.amount" placeholder="Alloted Amount"
                          name="bill_amount" (ngModelChange)="setBillAmountWords(this.budgetMaster.amount)"
                          class="form-control" id="bill_amount">
                      </div>
                    </div>

                  </div>

                  <div class="form-group col-md-12">
                    <div class="row">
                      <div class="col-sm">
                        <label for="invoice_no">In Word</label><br>
                        <textarea [readonly]="true" [(ngModel)]="budgetMaster.amount_in_words"
                          placeholder="Amount In Words" name="amount_in_words" class="form-control"
                          id="amount_in_words"></textarea>
                      </div>

                      


                    </div>
                  </div>


                
                </div>
                <div class="card-footer">
                  <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                  <tr>
                    <div style="float:left; padding: 10px;">
                      <!-- <button class="btn btn-info" (click)="createPoro()">Create</button> -->
                      <button *ngIf="!this.budgetMaster.isEdit" class="btn btn-sm  btn-info"
                        (click)="saveBudgetMasterEntry(this.budgetMaster)"><b>Create</b></button>&nbsp;
                      <!-- <button *ngIf="this.budgetMaster.isEdit" class="btn btn-sm btn-info"
                        (click)="updateBudgetMasterInfo(this.budgetMaster)"><b>Update</b></button>&nbsp;
                      <button *ngIf="this.budgetMaster.isEdit" class="btn btn-sm btn-info"
                        (click)="deleteBudgetBillInfo(this.budgetBillEntry)"><b>Delete</b></button>&nbsp;
                      <button class="btn btn-sm btn-info" (click)="reloadPage()"><b>Reset</b></button> -->
                    </div>
                  </tr>

                </div>
              </div>
            </div>

            <app-budgetMasterInfo></app-budgetMasterInfo>
          </div>
        </div>
      </section>
    </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>