<div class="wrapper">

    <app-topnavbar></app-topnavbar>
  
    <app-asidenavbar></app-asidenavbar>
  
    <div class="content-wrapper">
      <section class="content-header">
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Upload File</h3>
                  </div>
                  <form #f="ngForm" name="myForm" enctype="multipart/form-data" id="fileUploadForm">
                    <div class="card-body">
                      <input [(ngModel)]="fileUp.fileId" hidden=" true" class="form-control"
                        [ngModelOptions]="{standalone: true}">
                      <div class="form-group col-md-6">
                        <div class="row">
                          <div class="col-sm">
                            <label for="contractId" class="required">Contract Number:</label><br />
                            <p-dropdown  [style]="{'width': '285px'}" filter="true" [options]="selecteContractList" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="fileUp.contId" name="selecteContractList"> </p-dropdown>
  
                          </div>
                          <div class="col-sm">
                            <label for="fileType" class="required">File Type:</label><br />
                            <p-dropdown  [style]="{'width': '285px'}" [options]="selectedFileType" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="fileUp.fileType" name="selectedFileTypeList"> </p-dropdown>
  
                          </div>
                        </div>
                      </div>


                      <div class="form-group col-md-6">
                        <label for="exampleInputFile">File input<span style="color:red"> (max file size should be 10MB)</span></label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" name="files" class="custom-file-input"  id="exampleInputFile" accept=".xls,.xlsx,.pdf,.doc,.docx" (change)="selectFile($event)">
                            <label class="custom-file-label" id="fileLabel" for="exampleInputFile">Choose file</label>
                            
                          </div>
                          
                        </div>
                      </div>
                      
                    </div>

                   
                    <!-- /.card-body -->
    
                     <div class="card-footer"> 
                        <!-- <a class="btn btn-info" (click)="upload(this)"> Upload </a>  -->
                          <button  type="submit" class="btn btn-sm btn-info" id="btnSubmit" (click)="upload(this.fileUp)">
                            <b>Upload</b></button>&nbsp;
                          <button class="btn btn-sm btn-info" (click)="reset(f);"><b>Reset</b></button>
                    </div>
                    
                  </form> 
                  <div id="downtimeUploadSpinner" style="display: none;" class="loading-indicator">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                  </div>
  
<!--   
                    </div> -->
                  
  
                </div>
              </div>
            </div>
            <app-file-upload-list></app-file-upload-list>
          </div>
  
        </section>
      </section>
    </div>
    <app-footernavbar></app-footernavbar>
  </div>